<div class="dangkythanhcong">
  <div class="datthanhcong-container">
    <i class="fa-solid fa-check checker"></i>
    <div>登録完了</div>
  </div>
</div>
<header class="headertrang">
  <div class="trangdangnhap">
    <div class="trang-login">
      <div class="trang-login-container">
        <h1 class="trang-login__hello">ようこそ</h1>
        <h1 class="x"><i class="fa-solid fa-xmark"></i></h1>
        <div class="trang-login__huongdan">電話番号を入力して次へ</div><br />
        <div class="trang-login-title">
          <div>アカウントをお持ちでない方はこちら :</div>
          <div class="btn-dangky">新規登録</div>
        </div>
        <form action="/" class="trang-login-form" method="post">
          <label for="sdt" class="trang-login__tenname">電話番号</label><br />
          <input type="text" name="sdt" id="username" class="trang-login__name" placeholder="電話番号を入力" />
          <br />
          <label for="password" class="trang-login__tenname">パスワード</label><br />
          <input type="password" name="password" id="password" class="trang-login__name" placeholder="パスワードを入力" /><br />
          <div class="trang-login-error">{{error}}</div>
          <button type="submit" class="trang-login__enter">
            ログイン
          </button>
        </form>
      </div>
    </div>
    <div class="trang-login dky">
      <div class="trang-login-container">
        <h1 class="trang-login__hello">新規登録</h1>
        <h1 class="x x1"><i class="fa-solid fa-xmark"></i></h1>
        <div class="trang-login-title">
          <div>すでにアカウントをお持ちの方 : </div>
          <div class="btn-dangnhap">ログイン</div>
        </div>
        <form action="/" class="trang-dky-form" method="post">
          <label for="username1" class="trang-login__tenname">電話番号</label><br />
          <input type="text" name="sdt" id="username1" class="trang-login__name" placeholder="電話番号を入力" />
          <br />
          <label for="password1" class="trang-login__tenname">パスワード</label><br />
          <input type="password" name="password" id="password1" class="trang-login__name" placeholder="パスワードを入力" /><br />
          <label for="repassword" class="trang-login__tenname">パスワード（確認用）</label><br />
          <input type="password" name="repassword" id="repassword" class="trang-login__name" placeholder="パスワード（再入力）" /><br />
          <div class="trang-dky-error">{{error}}</div>
          <button type="submit" class="trang-login__enter">
            新規登録
          </button>
        </form>
      </div>
    </div>
  </div>
  <div class="boc">
    <img src="/img/header.png" alt="" class="pcheader" />
  </div>
  <div class="header-line">
    <div class="QR ">
      <i class="fa-solid fa-qrcode">
      </i>アプリをダウンロード
      <div class="thongtintaiud">
        <div>アプリならもっとお得に</div>
        <div>
          <img src="/img/QR.png" alt="" />
          <ul>
            <li data-i18n="welcome"></li>
            <li>300k以上で送料無料</li>
            <li>オンライン健康相談</li>
            <li>お薬手帳 / 処方箋管理</li>
            <li>ポイント確認・利用</li>
          </ul>
        </div>
        <div>
          <a href="https://play.google.com/store/apps/details?id=com.pharmacity_extracare" target="_blank"><img src="/img/CHPlay.png" alt="" /></a>
          <a href="itms-apps://itunes.apple.com/app/apple-store/id1414835869?mt=8" target="_blank"><img src="/img/IOS.png" alt="" /></a>
        </div>
      </div>
    </div>
    <div class="chua" style="user-select: none;">
      <img src="/img/covietnam.webp" alt="" class="co" />
      ベトナム語
      <div class="hienthituychonngonngu">
          <div class="inchua" onclick="changeLanguage('ja')">
            <img src="/img/NhatBan.webp" alt="" class="co" />
            <div>日本語</div>
          </div>
          <div class="inchua" onclick="changeLanguage('vi')">
            <img src="/img/covietnam.webp" alt="" class="co" />
            <div>ベトナム語</div>
          </div>
      </div>
    </div>
    <div>お問い合わせ窓口</div>
    <div>1800 9920</div>
    <div class="container__new">
      法人のお客様
      <img src="/img/new.png" alt="" class="new" />
    </div>
    <div>12月の限定セール</div>
    <div class="container__new">
      配送状況確認
      <img src="/img/new.png" alt="" class="new" />
    </div>
    <div>健康セット</div>
  </div>
  <div class="header-line1">
    <div class="header-line-left">
      <a href="/"><img src="/img/Logo.png" alt="" /></a>
      <div class="choice">
        <i class="fa-solid fa-bars"></i>
        <p>カテゴリ</p>
        <i class="fa-solid fa-chevron-right"></i>
      </div>
    </div>
    <div class="header-line-right">
      <div class="right1">
        <form method="POST" action="/timkiemsanpham" class="chua__search">
          <input type="text" name="keyword" class="header-line2__search" placeholder="薬品名、症状、ビタミン・サプリ" value="{{filters.keyword}}" />
          <i class="fa-solid fa-magnifying-glass"></i>
        </form>
        <i class="fa-solid fa-bell">
        </i>
        <i class="fa-solid fa-cart-plus">
          <div class="hienthiso active">
            <div class="hienthiso-so">{{count}}</div>
          </div>
        </i>
        <div class="bocline2 {{#if user}} active{{/if}}">
          {{#if user}}
          <a href="/user/thongtin" class="header-line2__login">
            <i class="fa-solid fa-user-tie"></i>
            <div>こんにちは、会員様</div>
          </a>
          {{else}}
          <div class="header-line2__login">
            <i class="fa-solid fa-circle-user"></i>
            <div>ログイン / 新規登録</div>
          </div>
          {{/if}}
          <div class="bangchon-khoangtrang"></div>
          <div class="bangchon">
            <a href="/user/thongtin" class="bangchon-thanhphan">
              <i class="fa-solid fa-user"></i>
              <div>マイページ</div>
            </a>
            <a href="/user/lichsudonhang" class="bangchon-thanhphan">
              <i class="fa-solid fa-notes-medical"></i>
              <div>注文履歴</div>
            </a>
            <a href="/user/diachinhanhang" class="bangchon-thanhphan">
              <i class="fa-solid fa-location-dot"></i>
              <div>お届け先住所</div>
            </a>
            <div class="bangchon-thanhphan btn-dangxuat">
              <i class="fa-solid fa-right-from-bracket"></i>
              <div>ログアウト</div>
            </div>
          </div>
        </div>
      </div>
      <div class="right2">
        <a href="/khohang" target="_self">マスク</a>
        <a href="/khohang" target="_self">ダイエット</a>
        <a href="/khohang" target="_self">咳・のどの痛み</a>
        <a href="/khohang" target="_self">コラーゲン</a>
        <a href="/khohang" target="_self">セール</a>
        <a href="/khohang" target="_self">日焼け止め</a>
        <a href="/khohang" target="_self">二日酔い対策</a>
      </div>
      <div class="right3">
        <p>医薬品</p>
        <p>Q&A / 相談</p>
        <p>サプリメント</p>
        <p>ママ＆ベビー</p>
        <p class="container__new">
          法人窓口
          <img src="/img/new.png" alt="" class="new" />
        </p>
        <p class="container__new">
          ブランド
          <img src="/img/hot.png" alt="" class="new" />
        </p>
        <p>ヘルスケア</p>
      </div>
    </div>
    <div class="danhmucdathang">
      <div class="danhmucdathang-container">
        <div>
          <div class="danhmuc-box">
            <img src="/img/danhmuc1.avif" alt="" />
            <div>医薬品</div>
          </div>
          <div class="danhmuc-box">
            <img src="/img/danhmuc2.avif" alt="" />
            <div>症状から探す</div>
          </div>
          <div class="danhmuc-box">
            <img src="/img/danhmuc3.avif" alt="" />
            <div>サプリメント</div>
          </div>
          <div class="danhmuc-box">
            <img src="/img/danhmuc4.avif" alt="" />
            <div>パーソナルケア</div>
          </div>
          <div class="danhmuc-box">
            <img src="/img/danhmuc5.avif" alt="" />
            <div>医療機器</div>
          </div>
        </div>
        <div>
          <div class="boxdanhmuc">
            <div class="boxdanhmuc-box">
              <img src="/img/kolmar.webp" alt="" />
              <div>市販薬 (OTC)</div>
            </div>
            <div class="boxdanhmuc-box">
              <img src="/img/solgar.webp" alt="" />
              <div>処方薬</div>
            </div>
            <div class="boxdanhmuc-box">
              <img src="/img/rohto.avif" alt="" />
              <div>その他医薬品</div>
            </div>
            <div class="boxdanhmuc-box">
              <img src="/img/siro.webp" alt="" />
              <div>ビタミン・食品</div>
            </div>
          </div>
          <div class="boxdanhmuc">
            <div class="boxdanhmuc-box">
              <img src="/img/durex.webp" alt="" />
              <div>市販薬 (OTC)</div>
            </div>
            <div class="boxdanhmuc-box">
              <img src="/img/solgar.webp" alt="" />
              <div>処方薬</div>
            </div>
            <div class="boxdanhmuc-box">
              <img src="/img/rohto.avif" alt="" />
              <div>その他医薬品</div>
            </div>
            <div class="boxdanhmuc-box">
              <img src="/img/siro.webp" alt="" />
              <div>ビタミン・食品</div>
            </div>
          </div>
          <div class="boxdanhmuc">
            <div class="boxdanhmuc-box">
              <img src="/img/rohto.avif" alt="" />
              <div>市販薬 (OTC)</div>
            </div>
            <div class="boxdanhmuc-box">
              <img src="/img/solgar.webp" alt="" />
              <div>処方薬</div>
            </div>
            <div class="boxdanhmuc-box">
              <img src="/img/rohto.avif" alt="" />
              <div>その他医薬品</div>
            </div>
            <div class="boxdanhmuc-box">
              <img src="/img/siro.webp" alt="" />
              <div>ビタミン・食品</div>
            </div>
          </div>
          <div class="boxdanhmuc">
            <div class="boxdanhmuc-box">
              <img src="/img/anlene.avif" alt="" />
              <div>市販薬 (OTC)</div>
            </div>
            <div class="boxdanhmuc-box">
              <img src="/img/solgar.webp" alt="" />
              <div>処方薬</div>
            </div>
            <div class="boxdanhmuc-box">
              <img src="/img/rohto.avif" alt="" />
              <div>その他医薬品</div>
            </div>
            <div class="boxdanhmuc-box">
              <img src="/img/siro.webp" alt="" />
              <div>ビタミン・食品</div>
            </div>
          </div>
          <div class="boxdanhmuc">
            <div class="boxdanhmuc-box">
              <img src="/img/alcofee.avif" alt="" />
              <div>市販薬 (OTC)</div>
            </div>
            <div class="boxdanhmuc-box">
              <img src="/img/solgar.webp" alt="" />
              <div>処方薬</div>
            </div>
            <div class="boxdanhmuc-box">
              <img src="/img/rohto.avif" alt="" />
              <div>その他医薬品</div>
            </div>
            <div class="boxdanhmuc-box">
              <img src="/img/siro.webp" alt="" />
              <div>ビタミン・食品</div>
            </div>
          </div>
        </div>
        <div>
          <img src="/img/quangcao.webp" alt="" />
        </div>
      </div>
    </div>
  </div>
</header>