<header class="headertrang">
  <section class="giohang">
    <div class="giohang-container">
      <div class="xoasp">
        <div class="thongbaochacchan">
          <h1>Xoá sản phẩm
          </h1>
          <div>Bạn có chắc chắn muốn xóa sản phẩm này?
          </div>
          <button class="thongbao-quaylai">Quay lại</button>
          <button class="thongbao-tieptuc">Đồng ý</button>
        </div>
      </div>
      <div class="giohang-sanpham">
        <h1>Giỏ hàng</h1>
        <div class="giohang-mota">
          <div>Sản phẩm</div>
          <div>Đơn giá</div>
          <div>Số lượng</div>
          <div>Thành tiền</div>
        </div>
        <div class="sanpham-all">
          {{#each user.cart}}
          <div class="sanpham-all-box"><div class="gachchan-to"></div><div class="box-sanphamthem"><img class="box-sanphamthem-img" src="/img/{{this.hinhanh}}"><div class="box-sanphamthem-mota">{{this.tensp}}</div><div class="dongia"><div><s>{{formatNumber this.giagoc}} ₫</s></div><div class="dg">{{ formatNumber this.giaban}} ₫</div></div><div class="soluong"><i class="fa-solid fa-minus"></i><div class="slgiohang">{{this.soluong}}</div><i class="fa-solid fa-plus"></i></div><div class="thanhtien"><div>{{formatNumber (nhan this.giaban this.soluong) }} ₫</div><i class="fa-solid fa-trash"></i></div></div></div>
          {{/each}}
        </div>
      </div>
      <div class="giohang-tongtien">
        <div class="giohang-tongtien__tamtinh">
          <div class="giohang-tongtien__tamtinh-mota">Tạm tính</div>
          <div class="giohang-tongtien__tamtinh-tt">{{formatNumber (totalGiagoc user.cart)}} ₫</div>
        </div>
        <div class="giohang-tongtien__tamtinh">
          <div class="giohang-tongtien__tamtinh-mota">Giảm giá ưu đãi
          </div>
          <div class="giohang-tongtien__tamtinh-tt">-</div>
        </div>
        <div class="giohang-tongtien__tamtinh">
          <div class="giohang-tongtien__tamtinh-mota">Giảm giá sản phẩm
          </div>
          <div class="giamgiatong">{{ formatNumber (minus (totalGiagoc user.cart) (totalGiaban user.cart))}} ₫</div>
        </div>
        <div class="gachchan"></div>
        <div class="giohang-tongtien__tongtien">
          <div class="giohang-tongtien__tongtien-mota">Tổng tiền</div>
          <div class="giohang-tongtien__tongtien-tt">{{ formatNumber (totalGiaban user.cart)}} ₫</div>
        </div>
        <div class="giohang-tongtien__btn">Mua Hàng</div>
      </div>
      <i class="fa-solid fa-rectangle-xmark"></i>
    </div>
  </section>
  <div class="trangdangnhap">
    <div class="trang-login">
      <div class="trang-login-container">
        <h1 class="trang-login__hello">XIN CHÀO</h1>
        <h1 class="x"><i class="fa-solid fa-xmark"></i></h1>
        <div class="trang-login__huongdan">Vui lòng nhập tài khoản để tiếp tục</div><br
        />
        <div class="trang-login-title">
          <div>Nếu chưa có thì bạn có thể đăng ký tại : </div>
          <a href="">Đăng ký</a>
        </div>
        <form action="/" class="trang-login-form" method="post">
          <label for="" class="trang-login__tenname">Tên đăng nhập</label><br />
          <input
            type="text"
            name="username"
            id="username"
            class="trang-login__name"
            placeholder="Nhập số tên đăng nhập"
          />
          <br />
          <label for="password" class="trang-login__tenname">Mật khẩu</label><br
          />
          <input
            type="text"
            name="password"
            id="password"
            class="trang-login__name"
            placeholder="Nhập mật khẩu"
          /><br />
          <button type="submit" class="trang-login__enter">
            Đăng nhập
          </button>
        </form>
      </div>
    </div>
  </div>
  <div class="boc">
    <img src="/img/header.png" alt="" class="pcheader" />
  </div>
  <div class="header-line">
    <div class="QR">
      <i class="fa-solid fa-qrcode">
      </i>Tải ứng dụng
      <div class="thongtintaiud">
        <div>Tải ứng dụng ngay để tiết kiệm hơn</div>
        <div>
          <img src="/img/QRHIEU.png" alt="" />
          <ul>
            <li>Ưu đãi độc quyền</li>
            <li>Giao hàng nhanh miễn phí từ 300k</li>
            <li>Tư vấn sức khỏe trực tuyến</li>
            <li>Lưu trữ theo dõi đơn thuốc</li>
            <li>Kiểm tra và sử dụng P-Xu Vàng thành viên</li>
          </ul>
        </div>
        <div>
          <a
            href="https://play.google.com/store/apps/details?id=com.pharmacity_extracare"
            target="_blank"
          ><img src="/img/CHPlay.png" alt="" /></a>
          <a
            href="itms-apps://itunes.apple.com/app/apple-store/id1414835869?mt=8"
            target="_blank"
          ><img src="/img/APPLe.png" alt="" /></a>
        </div>
      </div>
    </div>
    <div class="chua">
      <img src="/img/VietNam.png" alt="" class="vietnam" />Tiếng Việt
    </div>
    <div>Hotline</div>
    <div>1800 9920</div>
    <div class="container__new">
      Doanh nghiệp
      <img src="/img/new.png" alt="" class="new" />
    </div>
    <div>Deal hot tháng 12</div>
    <div class="container__new">
      Tra cứu đơn hàng
      <img src="/img/new.png" alt="" class="new" />
    </div>
    <div>Gói sức khoẻ</div>
  </div>
  <div class="header-line1">
    <div class="header-line-left">
      <img src="/img/Logonhathuoc.png" alt="" />
      <div class="choice">
        <i class="fa-solid fa-bars"></i>
        <p>Danh Mục</p>
        <i class="fa-solid fa-chevron-right"></i>
      </div>
    </div>
    <div class="header-line-right">
      <div class="right1">
        <div class="chua__search">
          <input
            type="text"
            name=""
            id=""
            class="header-line2__search"
            placeholder="Tên thuốc, triệu chứng, vitamin và thực phẩm chức năng"
          />
          <i class="fa-solid fa-magnifying-glass"></i>
        </div>
        <i class="fa-solid fa-bell">
        </i>
        <i class="fa-solid fa-cart-plus">
          <div class="hienthiso">
            <div class="hienthiso-so">0</div>
          </div>
        </i>
        <div class="bocline2 {{#if user}} active{{/if}}" >
          {{#if user}}
            <a href="/user/thongtin" class="header-line2__login">
              <i class="fa-solid fa-user-tie"></i>
              <div>Chào, Khách Hàng</div>
            </a>
          {{else}}
            <div class="header-line2__login">
              <i class="fa-solid fa-circle-user"></i>
              <div>Đăng nhập/ Đăng ký</div>
            </div>
          {{/if}}
          <div class="bangchon-khoangtrang"></div>
          <div class="bangchon">
            <a href="/user/thongtin" class="bangchon-thanhphan">
              <i class="fa-solid fa-user"></i>
              <div>Thông tin cá nhân</div>
            </a>
            <a href="" class="bangchon-thanhphan">
              <i class="fa-solid fa-notes-medical"></i>
              <div>Lịch sử đơn hàng</div>
            </a>
            <a href="" class="bangchon-thanhphan">
              <i class="fa-solid fa-location-dot"></i>
              <div>Địa chỉ nhận hàng</div>
            </a>
            <div class="bangchon-thanhphan btn-dangxuat">
              <i class="fa-solid fa-right-from-bracket"></i>
              <div>Đăng xuất</div>
            </div>
          </div>
        </div>
      </div>
      <div class="right2">
        <a href="/khohang" target="_self">Khẩu trang</a>
        <a href="/khohang" target="_self">Giảm cân</a>
        <a href="/khohang" target="_self">Giảm ho đau họng</a>
        <a href="/khohang" target="_self">Collagen</a>
        <a href="/khohang" target="_self">Sale</a>
        <a href="/khohang" target="_self">Kem chống nắng</a>
        <a href="/khohang" target="_self">Nước giải rượu</a>
      </div>
      <div class="right3">
        <p>Thuốc</p>
        <p>Hỏi đáp</p>
        <p>Thực phẩm chức năng</p>
        <p>Mẹ và bé</p>
        <p class="container__new">
          Doanh nghiệp
          <img src="/img/new.png" alt="" class="new" />
        </p>
        <p class="container__new">
          Nhãn Hàng
          <img src="/img/hot.png" alt="" class="new" />
        </p>
        <p>Chăm Sóc</p>
      </div>
    </div>
    <div class="danhmucdathang">
      <div class="danhmucdathang-container">
        <div>
          <div class="danhmuc-box">
            <img src="/img/danhmuc1.avif" alt="" />
            <div>Thuốc</div>
          </div>
          <div class="danhmuc-box">
            <img src="/img/danhmuc2.avif" alt="" />
            <div> Tra cứu bệnh</div>
          </div>
          <div class="danhmuc-box">
            <img src="/img/danhmuc3.avif" alt="" />
            <div>Thực phẩm chức năng</div>
          </div>
          <div class="danhmuc-box">
            <img src="/img/danhmuc4.avif" alt="" />
            <div>Chăm sóc cá nhân</div>
          </div>
          <div class="danhmuc-box">
            <img src="/img/danhmuc5.avif" alt="" />
            <div>Thiết bị y tế</div>
          </div>
        </div>
        <div>
          <div class="boxdanhmuc">
            <div class="boxdanhmuc-box">
              <img src="/img/kolmar.webp" alt="" />
              <div>Thuốc không kê đơn</div>
            </div>
            <div class="boxdanhmuc-box">
              <img src="/img/solgar.webp" alt="" />
              <div>Thuốc kê đơn</div>
            </div>
            <div class="boxdanhmuc-box">
              <img src="/img/rohto.avif" alt="" />
              <div>Thuốc khác</div>
            </div>
            <div class="boxdanhmuc-box">
              <img src="/img/siro.webp" alt="" />
              <div>Vitamin & Thực phẩm</div>
            </div>
          </div>
          <div class="boxdanhmuc">
            <div class="boxdanhmuc-box">
              <img src="/img/durex.webp" alt="" />
              <div>Thuốc không kê đơn</div>
            </div>
            <div class="boxdanhmuc-box">
              <img src="/img/solgar.webp" alt="" />
              <div>Thuốc kê đơn</div>
            </div>
            <div class="boxdanhmuc-box">
              <img src="/img/rohto.avif" alt="" />
              <div>Thuốc khác</div>
            </div>
            <div class="boxdanhmuc-box">
              <img src="/img/siro.webp" alt="" />
              <div>Vitamin & Thực phẩm</div>
            </div>
          </div>
          <div class="boxdanhmuc">
            <div class="boxdanhmuc-box">
              <img src="/img/rohto.avif" alt="" />
              <div>Thuốc không kê đơn</div>
            </div>
            <div class="boxdanhmuc-box">
              <img src="/img/solgar.webp" alt="" />
              <div>Thuốc kê đơn</div>
            </div>
            <div class="boxdanhmuc-box">
              <img src="/img/rohto.avif" alt="" />
              <div>Thuốc khác</div>
            </div>
            <div class="boxdanhmuc-box">
              <img src="/img/siro.webp" alt="" />
              <div>Vitamin & Thực phẩm</div>
            </div>
          </div>
          <div class="boxdanhmuc">
            <div class="boxdanhmuc-box">
              <img src="/img/anlene.avif" alt="" />
              <div>Thuốc không kê đơn</div>
            </div>
            <div class="boxdanhmuc-box">
              <img src="/img/solgar.webp" alt="" />
              <div>Thuốc kê đơn</div>
            </div>
            <div class="boxdanhmuc-box">
              <img src="/img/rohto.avif" alt="" />
              <div>Thuốc khác</div>
            </div>
            <div class="boxdanhmuc-box">
              <img src="/img/siro.webp" alt="" />
              <div>Vitamin & Thực phẩm</div>
            </div>
          </div>
          <div class="boxdanhmuc">
            <div class="boxdanhmuc-box">
              <img src="/img/alcofee.avif" alt="" />
              <div>Thuốc không kê đơn</div>
            </div>
            <div class="boxdanhmuc-box">
              <img src="/img/solgar.webp" alt="" />
              <div>Thuốc kê đơn</div>
            </div>
            <div class="boxdanhmuc-box">
              <img src="/img/rohto.avif" alt="" />
              <div>Thuốc khác</div>
            </div>
            <div class="boxdanhmuc-box">
              <img src="/img/siro.webp" alt="" />
              <div>Vitamin & Thực phẩm</div>
            </div>
          </div>
        </div>
        <div>
          <img src="/img/quangcao.webp" alt="" />
        </div>
      </div>
    </div>
  </div>
</header>