{{#if message}}
  <div class="datthanhcong active">
    <div class="datthanhcong-container">
      <i class="fa-solid fa-check checker"></i>
      <div>{{message}}</div>
    </div>
  </div>
  <script>
    setTimeout(() => { datthanhcong.classList.remove("active"); }, 1500);
  </script>
{{/if}}
<main class="main">
  <div class="header">
    <div>
      <h1 class="ql">Quản lý sản phẩm</h1>
      <a href="/admin/trashsanpham" class="btn btn-green thungrac">Thùng rác ({{count}})</a>
    </div>
    <a href="/admin/add" class="btn btn-green">+ Thêm sản phẩm mới</a>
  </div>
  <form method="POST" action="/admin/timkiemsanpham" class="filter-form" >
    <input
      type="text"
      name="keyword"
      placeholder="Nhập tên sản phẩm..."
      value="{{filters.keyword}}"
    />
    <select name="danhmuc" class="danhmuc">
      <option value="">-- Tất cả danh mục --</option>
      <option value="Săn Deal" {{#if (equal filters.danhmuc 'Săn Deal')}}selected{{/if}}>Săn Deal</option>
      <option value="Ngàn Deal Hot Tặng Nàng" {{#if (equal filters.danhmuc 'Ngàn Deal Hot Tặng Nàng')}}selected{{/if}}>Ngàn Deal Hot Tặng Nàng</option>
      <option value="Top bán chạy toàn quốc" {{#if (equal filters.danhmuc 'Top bán chạy toàn quốc')}}selected{{/if}}>Top bán chạy toàn quốc</option>
      <option value="Mẹ khỏe bé vui" {{#if (equal filters.danhmuc 'Mẹ khỏe bé vui')}}selected{{/if}}>Mẹ khỏe bé vui</option>
      <option value="Kho Hàng" {{#if (equal filters.danhmuc 'Kho Hàng')}}selected{{/if}}>Kho Hàng</option>
    </select>
    <select name="banchay">
      <option value="">-- Bán chạy --</option>
      <option value="true" {{#if ( equal filters.banchay  'true')}}selected{{/if}}>Đang bán chạy</option>
      <option value="false" {{#if ( equal filters.banchay  'false')}}selected{{/if}}>Không bán chạy</option>
    </select>
    <button type="submit" class="btn btn-blue" style="cursor: pointer;">Lọc</button>
  </form>
  <div class="table-wrapper">
    <table class="product-table">
      <thead>
        <tr>
          <th>STT</th>
          <th>Ảnh</th>
          <th>Tên sản phẩm</th>
          <th>Danh mục</th>
          <th>Giá gốc</th>
          <th>Giá bán</th>
          <th>Giảm giá(%)</th>
          <th>SL</th>
          <th>BC</th>
          <th>Hành động</th>
        </tr>
      </thead>
      <tbody>
        {{#each good}}
          <tr>
            <td style="width: 2.5vw">{{sum @index 1}}</td>
            <td style="width: 5vw"><img
                src="/img/{{this.hinhanh}}"
                alt="Ảnh sản phẩm"
                class="thumb"
              /></td>
            <td>{{this.tensp}}</td>
            <td style="width: 8vw">{{this.danhmuc}}</td>
            <td style="width: 7vw;">{{formatNumber this.giagoc}} ₫</td>
            <td style="width: 7vw;">{{formatNumber this.giaban}} ₫</td>
            <td style="width: 6vw;">{{this.giamgia}}</td>
            <td>{{this.soluong}}</td>
            <td style="width: 1vw;">{{#if (lonhon this.soluongdaban 500)}}<i
                  class="fa-solid fa-square-check"
                ></i>{{else}}<i
                  class="fa-solid fa-square-xmark"
                ></i>{{/if}}</td>
            <td style="width: 6vw;">
              <div class="hanhdong">
                <a
                  href="/admin/{{this._id}}/suasanpham"
                  class="btn btn-blue"
                >Sửa</a>
                <div
                  class="btn btn-red btn-sm"
                  id="btn-do"
                  data-id="{{this._id}}"
                >Xoá</div>
              </div>
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</main>
<form method="POST" style="display:inline" class="formxoa">
</form>
<div class="xoasp">
  <div class="thongbaochacchan tbcc">
    <h1>Xoá sản phẩm
    </h1>
    <div>Bạn có chắc chắn muốn xóa sản phẩm này?
    </div>
    <button class="thongbao-quaylai qlai">Quay lại</button>
    <button class="thongbao-tieptuc tt">Đồng ý</button>
  </div>
</div>

<script src="/js/xoasanpham-qlsp.js"></script>