{{#if message}}
  <div class="datthanhcong active">
    <div class="datthanhcong-container">
      <i class="fa-solid fa-check checker"></i>
      <div>{{message}}</div>
    </div>
  </div>
  <script>
    setTimeout(() => { datthanhcong.classList.remove("active"); }, 1500);
  </script>
{{/if}}
<main class="main">
  <div class="header">
    <div>
      <h1 class="ql">注文管理</h1>
      <a href="/admin/trashdonhang" class="btn btn-green thungrac">ゴミ箱 ({{count}})</a>
    </div>
  </div>
  <form method="POST" action="/admin/timkiemdonhang" class="filter-form">
    <input
      type="text"
      name="keyword"
      class="lookingfor"
      placeholder="電話番号を入力..."
      value="{{filters.keyword}}"
    />
    <input
      type="date"
      name="thoigian"
      id=""
      class="formtime"
      value="{{filters.thoigian}}"
    />
    <button
      type="submit"
      class="btn btn-blue"
      style="cursor: pointer;"
    >検索</button>
  </form>
  <div class="table-wrapper">
    <table class="product-table">
      <thead>
        <tr>
          <th>No.</th>
          <th>注文ID</th>
          <th>電話番号</th>
          <th>顧客名</th>
          <th>注文日</th>
          <th>合計金額</th>
          <th>ステータス</th>
          <th>支払状況</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
        {{#each order}}
          <tr class="chuaorder">
            <td style="width: 1vw">{{sum @index 1}}</td>
            <td class="idorder" style="width: 6vw">{{this._id}}</td>
            <td style="width: 6vw">{{this.userid.sdt}}</td>
            <td style="width: 7vw">{{this.userid.hoten}}</td>
            <td style="width: 7vw;">{{formatDate this.createdAt}}</td>
            <td style="width: 6vw;">{{formatNumber this.tongtien}} 円</td>
            <td style="width: 5vw;">{{this.trangthai}}</td>
            <td style="width: 5vw;">{{this.thanhtoan}}</td>
            <td style="width: 1vw;">
              <div class="hanhdong">
                <div
                  class="btn btn-red btn-sc"
                  data-id="{{this._id}}"
                >詳細</div>
              </div>
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</main>
<form method="POST" style="display:inline" class="formxoadonhang">
</form>
<div class="xoasp">
  <div class="thongbaochacchan tbcc">
    <h1>注文削除</h1>
    <div>この注文を削除してもよろしいですか？</div>
    <button class="thongbao-quaylai qlai">キャンセル</button>
    <button class="thongbao-tieptuc tt">削除</button>
  </div>
</div>
<div class="container-chitietdonhang">
  <div class="chuachitietdonhang">
    <i class="fa-solid fa-circle-xmark"></i>
    <div class="hienthilichsu-thongtin1">
      <div>
        <div class="indamthongtin">受取人情報</div>
        <div id="tentk"></div>
        <div>
          <span class="indamthongtin gach" id="hoten"></span>
          <span id="sdt"></span>
        </div>
        <div class="botthongtin" id="diachi"></div>
      </div>
      <div>
        <div class="indamthongtin">注文ID</div>
        <div id="madonhang"></div>
        <div class="trangthaidonhang1" id="trangthaidonhang1"></div>
        <div
          class="trangthaidonhang-xacnhan"
          id="trangthaidonhang-xacnhan"
        ></div>
        <div class="botthongtin">
          <div class="indamthongtin">注文日時</div>
          <div id="time"></div>
        </div>
      </div>
    </div>
    <div class="sanphamdamua">注文商品</div>
    <div class="lichsu-hienthidonhang1">
    </div>
    <div class="gachchan-to1"></div>
    <div class="container-thanhtoan">
      <div>
        <div class="thanhtoan-ghichu1">
          <div class="indamthongtin">備考 : </div>
          <div id="hienthighichu"></div>
        </div>
        <div class="btnflex">
          <div class="btn btn-red btn-sk" data-id="{{this._id}}">確定</div>
          <div class="btn btn-red btn-sm" data-id="{{this._id}}">注文削除</div>
        </div>
      </div>
      <div class="lichsu-hienthitongtien1">
        <div>決済詳細</div>
        <div class="hienthitongtien">
          <div>商品小計</div>
          <div class="tongtienindam" id="tienhang"></div>
        </div>
        <div class="hienthitongtien">
          <div>送料</div>
          <div class="tongtienindam"></div>
        </div>
        <div class="hienthitongtien">
          <div>割引</div>
          <div class="tongtienindam" id="giamgia"></div>
        </div>
        <div class="gachchan-to3"></div>
        <div class="hienthitongtien boxtt1">
          <div>
            <span class="tongtienindam">合計金額 </span><span
              class="spnho"
              id="spnho"
            ></span>
          </div>
          <div class="tongtienindamdb" id="tongtien"></div>
        </div>
        <div class="hienthitongtien boxtt2">
          <div class="tongtienindam">支払方法</div>
          <div>
            <div class="COD">代引き (COD)</div>
            <div class="tongtienindam">現金</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="/js/temp.js"></script>