<div class="container-user">
  <div class="hienthi-lichsu">
    <div class="bangchon-user">
      <div class="bangchon-user-top">
        <div class="bangchon-user-ten">
          <img src="/img/{{user.hinhanh}}" alt="" />
          <h1>{{user.hoten}}</h1>
        </div>
        <img src="/img/thevang.png" alt="" />
      </div>
      <div class="bangchon-user-bot">
        <a href="/user/thongtin" class="thanhchon-user">
          <i class="fa-solid fa-user"></i>
          <div>個人情報</div>
        </a>
        <a href="/user/diachinhanhang" class="thanhchon-user">
          <i class="fa-solid fa-location-dot"></i>
          <div>配送先住所</div>
        </a>
        <a href="/user/lichsudonhang" class="thanhchon-user">
          <i class="fa-solid fa-notes-medical"></i>
          <div>注文履歴</div>
        </a>
      </div>
    </div>
    <div class="ctnthongtin-user">
      <div class="doimkcc">
        <a href="/user/lichsudonhang"><i class="fa-solid fa-arrow-left"></i></a>
        <h1 class="title-doimk">注文詳細</h1>
      </div>
      <div class="thongtin-lichsu">
        <div class="container-lichsu">
          <div class="hienthilichsu-trangthai">
            <div>
              <div>処理中</div>
              <div>ご注文はPhamarcityで確認・処理中です</div>
            </div>
            <i class="fa-solid fa-spinner fa-spin-pulse"></i>
          </div>
          <div class="hienthilichsu-chitiet">
            <div>
              <div class="hienthilichsu-giaohang">
                <i class="fa-solid fa-truck-fast"></i>
                <div>宅配</div>
              </div>
              <div class="huydonhang">注文キャンセル</div>
            </div>
            <div class="hienthilichsu-thongtin">
              <div>
                <div class="indamthongtin">受取人情報</div>
                <div>
                  <span
                    class="indamthongtin gach"
                  >{{donhang.diachi.hoten}}</span>
                  {{donhang.diachi.sdt}}
                </div>
                <div class="botthongtin">{{donhang.diachi.sonha}},
                  {{donhang.diachi.phuongxa}},
                  {{donhang.diachi.quanhuyen}},
                  {{donhang.diachi.tinhthanh}}</div>
              </div>
              <div>
                <div class="indamthongtin">注文番号</div>
                <div class="madonhang">{{donhang._id}}</div>
                <div class="botthongtin">
                  <div>注文日時</div>
                  <div>{{formatDate donhang.createdAt}}</div>
                </div>
              </div>
            </div>
          </div>
          <div class="hienthilichsu-thanhtoan">
            <div>購入商品</div>
            <div class="lichsu-hienthidonhang">
              {{#each donhang.giohang}}
                <div class="sanpham-all-box">
                  <div class="gachchan-to1"></div>
                  <div class="box-sanphamthem">
                    <img
                      class="box-sanphamthem-img"
                      src="/img/{{this.hinhanh}}"
                    />
                    <div class="box-sanphamthem-mota">
                      {{this.tensp}}
                    </div>
                    <div class="dongia">
                      <div><s>{{formatNumber this.giagoc}} ₫</s></div>
                      <div class="dg">{{formatNumber this.giaban}} ₫</div>
                    </div>
                    <div class="soluong">
                      <div class="slgiohang">x{{this.soluong}}</div>
                    </div>
                    <div class="thanhtien">
                      <div>{{formatNumber (nhan this.giaban this.soluong)}}
                        ₫</div>
                    </div>
                  </div>
                </div>
              {{/each}}
            </div>
            <div class="gachchan-to1"></div>
            <div class="lichsu-hienthitongtien">
              <div>お支払い詳細</div>
              <div class="hienthitongtien">
                <div>商品代金</div>
                <div class="tongtienindam">{{formatNumber
                    (totalGiagoc donhang.giohang)
                  }}
                  ₫</div>
              </div>
              <div class="hienthitongtien">
                <div>配送料</div>
                <div class="tongtienindam">0 ₫</div>
              </div>
              <div class="hienthitongtien">
                <div>商品割引</div>
                <div class="tongtienindam">-{{formatNumber
                    (minus
                      (totalGiagoc donhang.giohang)
                      (totalGiaban donhang.giohang)
                    )
                  }}
                  ₫</div>
              </div>
              <div class="gachchan-to2"></div>
              <div class="hienthitongtien boxtt1">
                <div>
                  <span class="tongtienindam">合計金額 </span><span
                    class="spnho"
                  >(1商品)</span>
                </div>
                <div class="tongtienindamdb">{{formatNumber donhang.tongtien}}
                  ₫</div>
              </div>
              <div class="hienthitongtien boxtt2">
                <div class="tongtienindam">お支払い方法</div>
                <div>
                  <div class="COD">代引き</div>
                  <div class="tongtienindam">現金</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="mauxanhtieuchuan"></div>
<script>
  const huydonhang = document.querySelector(".huydonhang"); const madonhang =
  document.querySelector(".madonhang").textContent;
  huydonhang.addEventListener("click", function () { fetch("/user/huydonhang", {
  method: "POST", headers: { "Content-Type": "application/json", }, body:
  JSON.stringify({ madonhang:madonhang }), });
  window.location.href="/user/lichsudonhang"; });
</script>