{{#if message}}
  <div class="datthanhcong active">
    <div class="datthanhcong-container">
      <i class="fa-solid fa-check checker"></i>
      <div>{{message}}</div>
    </div>
  </div>
  <script>
    const datthanhcong = document.querySelector(".datthanhcong"); setTimeout(()
    => { datthanhcong.classList.remove("active"); }, 1500);
  </script>
{{/if}}
<div class="xoadc">
  <div class="thongbaochacchan tbcc">
    <h1>住所削除
    </h1>
    <div>この住所を削除してもよろしいですか？
    </div>
    <button class="thongbao-quaylai qlai">戻る</button>
    <button class="thongbao-tieptuc tt">確認</button>
  </div>
</div>
<div class="container-themdiachi">
  <div class="themdiachi">
    <div class="text-themdiachi">新しい住所</div>
    <div class="themdiachi-box-container">
      <div class="themdiachi-box">
        <form action="/user/themdiachi" method="post" class="formdiachi">
          <label for="hoten">氏名</label>
          <input type="text" name="hoten" placeholder="氏名を入力" />
          <label for="sdt">電話番号</label>
          <input type="text" name="sdt" placeholder="電話番号を入力" />
          <label for="tinhthanh">住所</label>
          <select name="tinhthanh" id="">
            <option value="" class="maubac">--都道府県を選択--</option>
            <option value="Quảng Trị">クアンチ</option>
            <option value="Đà Nẵng">ダナン</option>
            <option value="Huế">フエ</option>
          </select>
          <input type="text" name="quanhuyen" placeholder="市区町村を入力" />
          <input
            type="text"
            id="secon"
            name="phuongxa"
            placeholder="町名を入力"
          />
          <input
            type="text"
            id="secon"
            name="sonha"
            placeholder="番地・建物名を入力"
          />
          <div class="loaidiachi">住所タイプ</div>
          <div class="tuychondiachi">
            <label class="option">
              <input type="radio" name="loai" value="自宅" required />
              <span>自宅</span>
            </label>
            <label class="option">
              <input type="radio" name="loai" value="会社" />
              <span>会社</span>
            </label>
          </div>
          <div class="diachimacdinh">
            <input type="checkbox" name="macdinh" id="" />
            <div>デフォルト住所に設定</div>
          </div>
        </form>
      </div>
    </div>
    <div class="thaotac-diachi">
      <button class="btn-diachi-quaylai">戻る</button>
      <button class="luudiachi">保存</button>
    </div>
  </div>
</div>
<div class="container-user">
  <div class="hienthi-user">
    <div class="bangchon-user">
      <div class="bangchon-user-top">
        <div class="bangchon-user-ten">
          <img src="/img/actidem.avif" alt="" />
          <h1>{{user.hoten}}</h1>
        </div>
        <img src="/img/thevang.png" alt="" />
      </div>

      <div class="bangchon-user-bot">
        <a href="/user/thongtin" class="thanhchon-user">
          <i class="fa-solid fa-user"></i>
          <div>個人情報</div>
        </a>
        <a href="/user/diachinhanhang" class="thanhchon-user">
          <i class="fa-solid fa-location-dot"></i>
          <div>配送先住所</div>
        </a>
        <a href="/user/lichsudonhang" class="thanhchon-user">
          <i class="fa-solid fa-notes-medical"></i>
          <div>注文履歴</div>
        </a>
      </div>
    </div>
    <div class="ctnthongtin-diachi">
      <div class="diachicc">
        <h1 class="title-diachi">配送先住所</h1>
        <div class="btnthemdiachi">+ 住所追加</div>
      </div>
      <div class="thongtin-diachi">
        <div class="container-diachi">
          {{#unless user.diachi}}
            <div class="diachinull">
              <img
                src="https://prod-cdn.pharmacity.io/e-com/images/static-website/20240706155228-0-empty-order-history.svg"
                alt=""
              />
              <div>登録された住所がありません</div>
              <div>
                住所を追加して、今すぐご注文を始めましょう！
              </div>
              <button class="themdiachiphu">住所追加</button>
            </div>
          {{/unless}}
          {{#each user.diachi}}
            <div class="chuadiachi">
              <div>
                <div>
                  <span class="chuaten--diachi">{{this.hoten}}</span>
                  <span class="bac1">|</span>
                  {{this.sdt}}
                </div>
                <div>
                  {{this.sonha}},
                  {{this.phuongxa}},
                  {{this.quanhuyen}},
                  {{this.tinhthanh}}
                </div>
                <div>
                  <div class="dactrungdiachi">{{this.loai}}</div>
                  {{#if this.macdinh}}
                    <div
                      class="dactrungmacdinh"
                      style="width: 7.6rem;"
                    >デフォルト</div>
                  {{/if}}
                </div>
              </div>
              <div>
                <i class="fa-solid fa-trash trashdc"></i>
                <div class="chuasttdiachi">{{@index}}</div>
              </div>
            </div>
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</div>
<div class="mauxanhtieuchuan"></div>

<script src="/js/diachinhanhang.js">
</script>