<div class="datdonhangthanhcong">
  <div class="datthanhcong-container">
    <i class="fa-solid fa-check checker"></i>
    <div data-i18n="cart.order_success">ご注文が完了しました</div>
  </div>
</div>
<section class="giohang">
  {{#if (equal (length user.giohang) 0)}}
    <div class="diachinull">
      <img
        src="https://prod-cdn.pharmacity.io/e-com/images/static-website/20240706155228-0-empty-order-history.svg"
        alt=""
      />
      <div data-i18n="cart.empty_title">商品がありません</div>
      <div data-i18n="cart.empty_subtitle">
        ショッピングを始めましょう
      </div>
      <a href="/" data-i18n="cart.shop_now">今すぐ探す</a>
    </div>
  {{else}}
    <div class="giohang-container">
      <div class="xoasp">
        <div class="thongbaochacchan">
          <h1 data-i18n="cart.delete_title">商品削除</h1>
          <div
            data-i18n="cart.delete_msg"
          >この商品を削除してもよろしいですか？</div>
          <button class="thongbao-quaylai" data-i18n="common.back">戻る</button>
          <button
            class="thongbao-tieptuc"
            data-i18n="common.confirm"
          >確認</button>
        </div>
      </div>
      <div class="giohang-sanpham">
        <h1 data-i18n="cart.title">カート</h1>
        <div class="giohang-mota">
          <div data-i18n="common.item_unit">商品</div>
          <div data-i18n="cart.unit_price">単価</div>
          <div data-i18n="home.modal.quantity">数量</div>
          <div data-i18n="payment.subtotal">小計</div>
        </div>
        <div class="sanpham-all">
          {{#each user.giohang}}
            <div class="sanpham-all-box">
              <div class="gachchan-to"></div>
              <div class="box-sanphamthem">
                <img
                  class="box-sanphamthem-img"
                  src="/img/{{this.hinhanh}}"
                  alt="product-img"
                />
                <div class="box-sanphamthem-mota">{{this.tensp}}</div>
                <div class="dongia">
                  <div><s>{{formatNumber this.giagoc}} ₫</s></div>
                  <div class="dg">{{formatNumber this.giaban}} ₫</div>
                </div>
                <div class="soluong">
                  <i class="fa-solid fa-minus"></i>
                  <div class="slgiohang">{{this.soluong}}</div>
                  <i class="fa-solid fa-plus"></i>
                </div>
                <div class="thanhtien">
                  <div>{{formatNumber (nhan this.giaban this.soluong)}} ₫</div>
                  <i class="fa-solid fa-trash"></i>
                </div>
              </div>
            </div>
          {{/each}}
        </div>
      </div>
      <div class="xacnhandathang">
        <div class="thongbaochacchan">
          <h1 data-i18n="cart.order_confirm_title">注文確認</h1>
          <div
            data-i18n="cart.order_confirm_msg"
          >ご注文を確定してもよろしいですか？</div>
          <button
            class="thongbao-quaylaidathang"
            data-i18n="common.back"
          >戻る</button>
          <button
            class="thongbao-tieptucdathang"
            data-i18n="common.confirm"
          >確認</button>
        </div>
      </div>
      <form
        action="/user/trangdathang"
        method="post"
        class="formdathang"
      ></form>
      <div class="giohang-tongtien">
        <div class="giohang-tongtien__tamtinh">
          <div
            class="giohang-tongtien__tamtinh-mota"
            data-i18n="payment.subtotal"
          >小計</div>
          <div class="giohang-tongtien__tamtinh-tt">{{formatNumber
              (totalGiagoc user.giohang)
            }}
            ₫</div>
        </div>
        <div class="giohang-tongtien__tamtinh">
          <div
            class="giohang-tongtien__tamtinh-mota"
            data-i18n="cart.promo_discount"
          >特典割引</div>
          <div class="giohang-tongtien__tamtinh-tt">-</div>
        </div>
        <div class="giohang-tongtien__tamtinh">
          <div
            class="giohang-tongtien__tamtinh-mota"
            data-i18n="payment.product_discount"
          >商品割引</div>
          <div class="giamgiatong">{{formatNumber
              (minus (totalGiagoc user.giohang) (totalGiaban user.giohang))
            }}
            ₫</div>
        </div>
        <div class="gachchan"></div>
        <div class="giohang-tongtien__tongtien">
          <div
            class="giohang-tongtien__tongtien-mota"
            data-i18n="payment.total"
          >合計金額</div>
          <div class="giohang-tongtien__tongtien-tt">{{formatNumber
              (totalGiaban user.giohang)
            }}
            ₫</div>
        </div>
        <div
          class="giohang-tongtien__btn"
          data-i18n="cart.checkout_btn"
        >購入する</div>
      </div>
    </div>
  {{/if}}
</section>
<div class="mauxanhtieuchuan"></div>
<script src="/js/giohang.js"></script>