<div class="datdonhangthanhcong">
  <div class="datthanhcong-container">
    <i class="fa-solid fa-check checker"></i>
    <div>Đặt đơn hàng thành công</div>
  </div>
</div>
<section class="giohang">
  {{#if (equal (length user.giohang) 0)}}
    <div class="diachinull">
      <img
        src="https://prod-cdn.pharmacity.io/e-com/images/static-website/20240706155228-0-empty-order-history.svg"
        alt=""
      />
      <div>Chưa có sản phẩm nào
      </div>
      <div>
        Hãy khám phá để mua sắm thêm
      </div>
      <a href="/">Khám phá ngay</a>
    </div>
  {{else}}
    <div class="giohang-container">
      <div class="xoasp">
        <div class="thongbaochacchan">
          <h1>Xoá sản phẩm</h1>
          <div>Bạn có chắc chắn muốn xóa sản phẩm này?</div>
          <button class="thongbao-quaylai">Quay lại</button>
          <button class="thongbao-tieptuc">Đồng ý</button>
        </div>
      </div>
      <div class="giohang-sanpham">
        <h1>Giỏ hàng</h1>
        <div class="giohang-mota">
          <div>Sản phẩm</div>
          <div>Đơn giá</div>
          <div>Số lượng</div>
          <div>Thành tiền</div>
        </div>
        <div class="sanpham-all">
          {{#each user.giohang}}
            <div class="sanpham-all-box"><div class="gachchan-to"></div><div
                class="box-sanphamthem"
              ><img
                  class="box-sanphamthem-img"
                  src="/img/{{this.hinhanh}}"
                /><div class="box-sanphamthem-mota">{{this.tensp}}</div><div
                  class="dongia"
                ><div><s>{{formatNumber this.giagoc}}
                      ₫</s></div><div class="dg">{{formatNumber this.giaban}}
                    ₫</div></div><div class="soluong"><i
                    class="fa-solid fa-minus"
                  ></i><div class="slgiohang">{{this.soluong}}</div><i
                    class="fa-solid fa-plus"
                  ></i></div><div class="thanhtien"><div>{{formatNumber
                      (nhan this.giaban this.soluong)
                    }}
                    ₫</div><i class="fa-solid fa-trash"></i></div></div></div>
          {{/each}}
        </div>
      </div>
      <div class="xacnhandathang">
        <div class="thongbaochacchan">
          <h1>Đặt hàng
          </h1>
          <div>Bạn có xác nhận muốn đặt hàng?
          </div>
          <button class="thongbao-quaylaidathang">Quay lại</button>
          <button class="thongbao-tieptucdathang">Đồng ý</button>
        </div>
      </div>
      <form
        action="/user/trangdathang"
        method="post"
        class="formdathang"
      ></form>
      <div class="giohang-tongtien">
        <div class="giohang-tongtien__tamtinh">
          <div class="giohang-tongtien__tamtinh-mota">Tạm tính</div>
          <div class="giohang-tongtien__tamtinh-tt">{{formatNumber
              (totalGiagoc user.giohang)
            }}
            ₫</div>
        </div>
        <div class="giohang-tongtien__tamtinh">
          <div class="giohang-tongtien__tamtinh-mota">Giảm giá ưu đãi</div>
          <div class="giohang-tongtien__tamtinh-tt">-</div>
        </div>
        <div class="giohang-tongtien__tamtinh">
          <div class="giohang-tongtien__tamtinh-mota">Giảm giá sản phẩm</div>
          <div class="giamgiatong">{{formatNumber
              (minus (totalGiagoc user.giohang) (totalGiaban user.giohang))
            }}
            ₫</div>
        </div>
        <div class="gachchan"></div>
        <div class="giohang-tongtien__tongtien">
          <div class="giohang-tongtien__tongtien-mota">Tổng tiền</div>
          <div class="giohang-tongtien__tongtien-tt">{{formatNumber
              (totalGiaban user.giohang)
            }}
            ₫</div>
        </div>
        <div class="giohang-tongtien__btn">Mua Hàng</div>
      </div>
    </div>
  {{/if}}
</section>
<div class="mauxanhtieuchuan"></div>
<script src="/js/giohang.js"></script>