<div class="trangchinh">
  <div class="trangchinh-container">
    <h1 data-i18n="shop.title">正規品・基準達成商品</h1>
    <div class="sapxep">
      <div data-i18n="shop.sort_label">並び替え：</div>
      <a href="?sort=asc" style="text-decoration: none;" class="box-ss {{#if (equal sortType "asc")}}active-sort{{/if}}" data-i18n="shop.sort_asc">価格が安い順</a>
      <a href="?sort=desc" style="text-decoration: none;" class="box-ss {{#if (equal sortType "desc")}}active-sort{{/if}}" data-i18n="shop.sort_desc">価格が高い順</a>
    </div>
    
    <div class="chuasanpham">
      {{#each good}}
        <div class="buy-box diff">
          <img src="/img/{{this.hinhanh}}" alt="商品画像" data-i18n-alt="shop.img_alt" />
          
          <span class="sandeal-box-tieude">{{this.tensp}}</span>
          
          {{#if (equal this.giagoc thisgiaban)}}
            <span class="sandeal-box-giamgia"><s></s></span>
          {{else}}
            <span class="sandeal-box-giamgia"><s>{{formatNumber this.giagoc}} ₫</s></span>
          {{/if}}
          
          <span class="sandeal-box-gia">{{formatNumber this.giaban}} ₫/{{this.donvi}}</span>
          
          <div class="sandeal-box-like">
            <i class="fa-solid fa-heart"></i>
            <span class="sandeal-box-like-like">10.5k |</span>
            <span class="sandeal-box-like-bought">
              <span data-i18n="home.product_card.sold">販売数</span> {{this.soluongdaban}}
            </span>
          </div>
          
          {{#if (lonhon this.soluongdaban 500)}}
            <div class="banchay" data-i18n="home.product_card.best_seller">人気商品</div>
          {{else}}
            <div class="banchaytrang"></div>
          {{/if}}
          
          <button class="sandeal-box-buy" data-i18n="home.product_card.select_item">商品を選択</button>
          <input type="hidden" class="boxlayid" value="{{this._id}}" />
        </div>
      {{/each}}
    </div>
  </div>

  <div class="muahang">
    <div class="muahang-nth1">
      <h1 data-i18n="home.modal.title">商品を選択</h1>
      <i class="fa-solid fa-circle-xmark"></i>
    </div>
    <div class="muahang-container">
      <img src="/img/siro.webp" alt="" />
      <div class="muahang-right">
        <h1 data-i18n="home.modal.free_ship_note">全ての注文で送料無料 0đ</h1>
        <div class="muahang-tieude"></div>
        <div class="muahang-giamgia"></div>
        <div class="muahang-gia"></div>
        <div data-i18n="home.modal.point_earn">1,200 P-Xuゴールドポイント獲得</div>
        <div></div>
        <div data-i18n="home.modal.quantity">数量</div>
        <div>
          <i class="fa-solid fa-minus trumuahang"></i>
          <div class="soluongmuahang">1</div>
          <i class="fa-solid fa-plus congmuahang"></i>
        </div>
        <div>
          <button class="muahang" data-i18n="home.modal.buy_now">購入する</button>
          <button class="themvaogio" data-i18n="home.modal.add_to_cart">カートに追加</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="mauxanhtieuchuan"></div>
<script src="/js/chondonhang.js"></script>