<div class="container-user">
  <div class="hienthi-donhang">
    <div class="bangchon-user">
      <div class="bangchon-user-top">
        <div class="bangchon-user-ten">
          <img src="/img/{{user.hinhanh}}" alt="" />
          <h1>{{user.hoten}}</h1>
        </div>
        <img src="/img/thevang.png" alt="" />
      </div>
      <div class="bangchon-user-bot">
        <a href="/user/thongtin" class="thanhchon-user">
          <i class="fa-solid fa-user"></i>
          <div>Thông tin cá nhân</div>
        </a>
        <a href="/user/diachinhanhang" class="thanhchon-user">
          <i class="fa-solid fa-location-dot"></i>
          <div>Địa chỉ nhận hàng</div>
        </a>
        <a href="/user/lichsudonhang" class="thanhchon-user">
          <i class="fa-solid fa-notes-medical"></i>
          <div>Lịch sử đơn hàng</div>
        </a>
      </div>
    </div>
    <div class="ctnthongtin-diachi">
      <div class="lichsucc">
        <h1 class="title-lichsu">Lịch sử đơn hàng</h1>
        <div id="thanhchontrang">
          <a href="/user/lichsudonhang">Chờ xác nhận</a>
          <a href="/user/lichsudonhangdaxacnhan">Đã xác nhận</a>
          <a href="/user/lichsudonhangdahuy">Đã huỷ </a>
        </div>
      </div>
      <div class="thongtin-donhang">
        <div class="container-donhang">
          {{#if (equal (length donhangcuatoi) 0)}}
            <div class="diachinull">
              <img
                src="https://prod-cdn.pharmacity.io/e-com/images/static-website/20240706155228-0-empty-order-history.svg"
                alt=""
              />
              <div>Chưa có đơn hàng nào
              </div>
              <div>
                Hãy khám phá để mua sắm thêm
              </div>
            </div>
          {{else}}
            {{#each donhangcuatoi}}
              <div class="chuadonhang">
                <div>
                  <div>
                    <div class="chuama--donhang">{{this._id}}</div>
                  </div>
                  <div class="trangthaidonhangxacnhan">
                    {{this.trangthai}}
                  </div>
                </div>
                <div class="chuadonhangsanpham">
                  {{#each this.giohang}}
                    <div class="sanpham-all-box">
                      <div class="gachchan-to11"></div>
                      <div class="box-sanphamthem">
                        <img
                          class="box-sanphamthem-img"
                          src="/img/{{this.hinhanh}}"
                        />
                        <div class="box-sanphamthem-mota1">
                          {{this.mota}}
                        </div>
                        <div class="dongia">
                          <div><s>{{formatNumber this.giagoc}} ₫</s></div>
                          <div class="dg">{{formatNumber this.giaban}} ₫</div>
                        </div>
                        <div class="soluong1">
                          <div class="slgiohang">x{{this.soluong}}</div>
                        </div>
                        <div class="thanhtien1">
                          <div>{{formatNumber (nhan this.soluong this.giaban)}}
                            ₫</div>
                        </div>
                      </div>
                    </div>
                  {{/each}}
                </div>
                <div class="gachchan-to11"></div>
                <div class="thongtinduoicung">
                  <div class="gomsp"><span style="color :red">{{length
                        this.giohang
                      }}</span>
                    Sản phẩm
                  </div>
                  <div class="tongtiendonhang">
                    <div>Thành tiền : </div>
                    <div>{{formatNumber this.tongtien}} ₫</div>
                  </div>
                </div>
              </div>
            {{/each}}
            <div style="color:white">.</div>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
</div>
<div class="mauxanhtieuchuan"></div>
<script>
  const chuadonhang = document.querySelectorAll(".chuadonhang");
  chuadonhang.forEach((i) => { i.addEventListener("click", function () { let ma
  = i.querySelector(".chuama--donhang").textContent; window.location.href =
  `/user/chitietlichsudonhangdaxacnhan/${ma}`; }); });

</script>