<div class="datthanhcong">
  <div class="datthanhcong-container">
    <i class="fa-solid fa-check checker"></i>
    <div data-i18n="home.toast_cart_success">カートに商品を追加しました。</div>
  </div>
</div>

<section class="menu">
  <div class="ad">
    <div class="ad1">
      <div class="ad1-first">
        <div class="ad1-first-p">
          <img src="/img/ad1.avif" alt="" />
          <img src="/img/ad2.avif" alt="" />
          <img src="/img/ad3.webp" alt="" />
          <img src="/img/ad4.avif" alt="" />
          <img src="/img/ad5.avif" alt="" />
          <img src="/img/ad6.avif" alt="" />
          <img src="/img/ad7.avif" alt="" />
          <img src="/img/ad8.webp" alt="" />
          <img src="/img/ad9.avif" alt="" />
        </div>
      </div>
      <div class="cham">
        <div class="cham-trang active"></div>
        <div class="cham-trang"></div>
        <div class="cham-trang"></div>
        <div class="cham-trang"></div>
        <div class="cham-trang"></div>
        <div class="cham-trang"></div>
        <div class="cham-trang"></div>
        <div class="cham-trang"></div>
        <div class="cham-trang"></div>
      </div>
    </div>
    <i class="fa-solid fa-chevron-up btn-left"></i>
    <i class="fa-solid fa-chevron-up btn-right"></i>
    <div class="ad2">
      <div class="ad2-first"><img src="/img/ad2-1.avif" alt="" /></div>
      <div class="ad2-last"><img src="/img/ad2-2.avif" alt="" /></div>
    </div>
  </div>

  <div class="menu-option">
    <span class="menu-option-box">
      <img src="/img/ad-icon1.avif" alt="" class="option-box" />
      <span data-i18n="home.shortcuts.consult"> お薬相談 </span>
    </span>
    <span class="menu-option-box">
      <img src="/img/ad-icon2.avif" alt="" class="option-box" />
      <span data-i18n="home.shortcuts.prescription"> 処方箋受付 </span>
    </span>
    <span class="menu-option-box">
      <img src="/img/ad-icon3.avif" alt="" class="option-box" />
      <span data-i18n="home.shortcuts.doctor"> 医師に相談 </span>
    </span>
    <span class="menu-option-box">
      <img src="/img/ad-icon4.avif" alt="" class="option-box" />
      <span data-i18n="home.shortcuts.expense"> 医療費管理</span>
    </span>
    <span class="menu-option-box">
      <img src="/img/ad-icon5.avif" alt="" class="option-box" />
      <span data-i18n="home.shortcuts.dec_sale"> 12月の特選セール </span>
    </span>
    <span class="menu-option-box">
      <img src="/img/ad-icon6.avif" alt="" class="option-box" />
      <span data-i18n="home.shortcuts.point_history"> ポイント履歴 </span>
    </span>
    <span class="menu-option-box">
      <img src="/img/Booking.gif" alt="" class="option-box" />
      <span data-i18n="home.shortcuts.booking"> 来店予約 </span>
    </span>
    <span class="menu-option-box">
      <img src="/img/ad-icon7.avif" alt="" class="option-box" />
      <span data-i18n="home.shortcuts.use_point"> ポイント利用 </span>
    </span>
    <span class="menu-option-box">
      <img src="/img/ad-icon8.avif" alt="" class="option-box" />
      <span data-i18n="home.shortcuts.flu"> インフルエンザ対策 </span>
    </span>
    <span class="menu-option-box">
      <img src="/img/ad-icon9.avif" alt="" class="option-box" />
      <span data-i18n="home.shortcuts.health_record"> 健康カルテ </span>
    </span>
    <span class="menu-option-box">
      <img src="/img/ad-icon10.avif" alt="" class="option-box" />
      <span data-i18n="home.shortcuts.checkup"> 健康診断 </span>
    </span>
    <span class="menu-option-box">
      <img src="/img/ad-icon11.avif" alt="" class="option-box" />
      <span data-i18n="home.shortcuts.coupon"> 限定クーポン </span>
    </span>
    <span class="menu-option-box">
      <img src="/img/ad-icon12.avif" alt="" class="option-box" />
      <span data-i18n="home.shortcuts.store_finder"> 店舗検索</span>
    </span>
    <span class="menu-option-box">
      <img src="/img/ad-icon13.avif" alt="" class="option-box" />
      <span data-i18n="home.shortcuts.corporate"> 法人サービス </span>
    </span>
    <span class="menu-option-box">
      <img src="/img/ad-icon14.avif" alt="" class="option-box" />
      <span data-i18n="home.shortcuts.family"> 家族情報 </span>
    </span>
  </div>
</section>

<section class="sandeal">
  <div class="sandeal-time" data-aos="fade-right">
    <img src="/img/SanDeal.avif" alt="" />
    <div class="sandeal-time-timegg">
      <div class="time"></div>
      <span>:</span>
      <div class="time"></div>
      <span>:</span>
      <div class="time"></div>
    </div>
  </div>
  <div class="sandeal-menu">
    <div class="sandeal-menu__thanhchon">
      {{#each deal1}}
      <div class="buy-box">
        <img src="/img/{{this.hinhanh}}" alt="Ảnh sản phẩm" />
        <span class="sandeal-box-tieude">{{this.tensp}}</span>
        {{#if (equal this.giamgia 0)}}
        <span class="sandeal-box-giamgia"><s></s></span>
        {{else}}
        <span class="sandeal-box-giamgia"><s>{{formatNumber this.giagoc}} ₫</s></span>
        {{/if}}
        <span class="sandeal-box-gia">{{formatNumber this.giaban}} ₫/{{this.donvi}}</span>
        <div class="sandeal-box-like">
          <i class="fa-solid fa-heart"></i>
          <span class="sandeal-box-like-like">15.9k |</span>
          <span class="sandeal-box-like-bought"><span data-i18n="home.product_card.sold">販売数</span> {{this.soluongdaban}}</span>
        </div>
        {{#if (lonhon this.soluongdaban 500)}}
        <div class="banchay" data-i18n="home.product_card.best_seller">大人気</div>
        {{else}}
        <div class="banchay banchaytrang"></div>
        {{/if}}
        <button class="sandeal-box-buy" data-i18n="home.product_card.select_item">商品を選択</button>
        <input type="hidden" class="boxlayid" value="{{this._id}}">
      </div>
      {{/each}}
    </div>
  </div>
  <i class="fa-solid fa-chevron-up sandeal-left"></i>
  <i class="fa-solid fa-chevron-up sandeal-right"></i>
</section>

<div class="muahang">
  <div class="muahang-nth1">
    <h1 data-i18n="home.modal.title">商品オプション</h1>
    <i class="fa-solid fa-circle-xmark"></i>
  </div>
  <div class="muahang-container">
    <img src="/img/siro.webp" alt="">
    <div class="muahang-right">
      <h1 data-i18n="home.modal.free_ship_note">全品送料無料（0đ〜）</h1>
      <div class="muahang-tieude"></div>
      <div class="muahang-giamgia"></div>
      <div class="muahang-gia"></div>
      <div data-i18n="home.modal.point_earn">ポイント獲得: 1,200ポイント〜</div>
      <div></div>
      <div data-i18n="home.modal.quantity">数量</div>
      <div>
        <i class="fa-solid fa-minus trumuahang"></i>
        <div class="soluongmuahang">1</div>
        <i class="fa-solid fa-plus congmuahang"></i>
      </div>
      <div>
        <button class="btnmuahang" data-i18n="home.modal.buy_now">購入手続き</button>
        <button class="themvaogio" data-i18n="home.modal.add_to_cart">カートに入れる</button>
        <input type="hidden" class="boxlayid1">
      </div>
    </div>
  </div>
</div>

<div class="hotdeal" data-aos="fade-right">
  <h1 data-i18n="home.sections.hot_deal_women">女性に人気のお得商品</h1>
  <div class="hotdeal-menu">
    <div class="hotdeal-thanhchon version1">
      {{#each deal2}}
      <div class="buy-box">
        <img src="/img/{{this.hinhanh}}" alt="Ảnh sản phẩm" />
        <span class="sandeal-box-tieude">{{this.tensp}}</span>
        {{#if (equal this.giamgia 0)}}
        <span class="sandeal-box-giamgia"><s></s></span>
        {{else}}
        <span class="sandeal-box-giamgia"><s>{{formatNumber this.giagoc}} ₫</s></span>
        {{/if}}
        <span class="sandeal-box-gia">{{formatNumber this.giaban}} ₫/{{this.donvi}}</span>
        <div class="sandeal-box-like">
          <i class="fa-solid fa-heart"></i>
          <span class="sandeal-box-like-like">15.9k |</span>
          <span class="sandeal-box-like-bought"><span data-i18n="home.product_card.sold">販売数</span> {{this.soluongdaban}}</span>
        </div>
        {{#if (lonhon this.soluongdaban 500)}}
        <div class="banchay" data-i18n="home.product_card.best_seller">大人気</div>
        {{else}}
        <div class=" banchaytrang"></div>
        {{/if}}
        <button class="sandeal-box-buy" data-i18n="home.product_card.select_item">商品を選択</button>
        <input type="hidden" class="boxlayid" value="{{this._id}}">
      </div>
      {{/each}}
    </div>
    <i class="fa-solid fa-chevron-up hotdeal-left"></i>
    <i class="fa-solid fa-chevron-up hotdeal-right"></i>
  </div>
</div>

<div class="hotdeal" data-aos="fade-right">
  <h1 data-i18n="home.sections.ranking">全国ランキング</h1>
  <div class="hotdeal-menu">
    <div class="hotdeal-thanhchon version1">
      {{#each deal3}}
      <div class="buy-box">
        <img src="/img/{{this.hinhanh}}" alt="Ảnh sản phẩm" />
        <span class="sandeal-box-tieude">{{this.tensp}}</span>
        {{#if (equal this.giamgia 0)}}
        <span class="sandeal-box-giamgia"><s></s></span>
        {{else}}
        <span class="sandeal-box-giamgia"><s>{{formatNumber this.giagoc}} ₫</s></span>
        {{/if}}
        <span class="sandeal-box-gia">{{formatNumber this.giaban}} ₫/{{this.donvi}}</span>
        <div class="sandeal-box-like">
          <i class="fa-solid fa-heart"></i>
          <span class="sandeal-box-like-like">15.9k |</span>
          <span class="sandeal-box-like-bought"><span data-i18n="home.product_card.sold">販売数</span> {{this.soluongdaban}}</span>
        </div>
        {{#if (lonhon this.soluongdaban 500)}}
        <div class="banchay" data-i18n="home.product_card.best_seller">大人気</div>
        {{else}}
        <div class="banchay banchaytrang"></div>
        {{/if}}
        <button class="sandeal-box-buy" data-i18n="home.product_card.select_item">商品を選択</button>
        <input type="hidden" class="boxlayid" value="{{this._id}}">
      </div>
      {{/each}}
    </div>
    <i class="fa-solid fa-chevron-up hotdeal-left"></i>
    <i class="fa-solid fa-chevron-up hotdeal-right"></i>
  </div>
</div>

<div class="hotdeal" data-aos="fade-right">
  <h1 data-i18n="home.sections.japan_brand">日本ブランド</h1>
  <div class="hotdeal-menu">
    <div class="hotdeal-thanhchon version1">
      {{#each deal4}}
      <div class="buy-box">
        <img src="/img/{{this.hinhanh}}" alt="Ảnh sản phẩm" />
        <span class="sandeal-box-tieude">{{this.tensp}}</span>
        {{#if (equal this.giamgia 0)}}
        <span class="sandeal-box-giamgia"><s></s></span>
        {{else}}
        <span class="sandeal-box-giamgia"><s>{{formatNumber this.giagoc}} ₫</s></span>
        {{/if}}
        <span class="sandeal-box-gia">{{formatNumber this.giaban}} ₫/{{this.donvi}}</span>
        <div class="sandeal-box-like">
          <i class="fa-solid fa-heart"></i>
          <span class="sandeal-box-like-like">15.9k |</span>
          <span class="sandeal-box-like-bought"><span data-i18n="home.product_card.sold">販売数</span> {{this.soluongdaban}}</span>
        </div>
        {{#if (lonhon this.soluongdaban 500)}}
        <div class="banchay" data-i18n="home.product_card.best_seller">大人気</div>
        {{else}}
        <div class="banchay banchaytrang"></div>
        {{/if}}
        <button class="sandeal-box-buy" data-i18n="home.product_card.select_item">商品を選択</button>
        <input type="hidden" class="boxlayid" value="{{this._id}}">
      </div>
      {{/each}}
    </div>
    <i class="fa-solid fa-chevron-up hotdeal-left"></i>
    <i class="fa-solid fa-chevron-up hotdeal-right"></i>
  </div>
</div>

<section class="thuonghieu">
  <h1 data-i18n="home.sections.featured_brand">注目ブランド</h1>
  <div class="thuonghieu-thanhchon">
    <img src="/img/thuonghieu1.png" alt="" class="thuonghieu-box" data-aos="zoom-in" />
    <img src="/img/thuonghieu2.webp" alt="" class="thuonghieu-box" data-aos="zoom-in" />
    <img src="/img/thuonghieu3.png" alt="" class="thuonghieu-box" data-aos="zoom-in" />
    <img src="/img/thuonghieu4.png" alt="" class="thuonghieu-box" data-aos="zoom-in" />
  </div>
</section>

<section class="spbanchay">
  <h1 data-i18n="home.sections.best_seller_brand">ベストセラーブランド</h1>
  <div class="banchay-thanhchon">
    <img src="/img/thuonghieunone.webp" alt="" class="banchay-box__pic banchay-box1" data-aos="fade-up" data-aos-anchor-placement="top-center" />
    <img src="/img/thuonghieusw.png" alt="" class="banchay-box__pic banchay-box2" data-aos="fade-up" data-aos-anchor-placement="top-center" />
    <img src="/img/thuonghieuko.webp" alt="" class="banchay-box__pic banchay-box2" data-aos="fade-up" data-aos-anchor-placement="top-center" />
    <img src="/img/thuonghieugood.webp" alt="" class="banchay-box__pic banchay-box2" data-aos="fade-up" data-aos-anchor-placement="top-center" />
    <img src="/img/thuonghieucoo.webp" alt="" class="banchay-box__pic banchay-box2" data-aos="fade-up" data-aos-anchor-placement="top-center" />
  </div>
</section>

<section class="gocsuckhoe">
  <h1 data-i18n="home.blog.title">健康コラム</h1>
  <div class="thanchonsuckhoe">
    <span data-i18n="home.blog.tabs.popular">人気記事</span>
    <span data-i18n="home.blog.tabs.cancer">がん情報</span>
    <span data-i18n="home.blog.tabs.child">小児の健康</span>
    <span data-i18n="home.blog.tabs.postpartum">産後ケア</span>
    <span data-i18n="home.blog.tabs.pregnancy">妊娠中のケア</span>
    <span data-i18n="home.blog.tabs.fertility">妊活</span>
    <span data-i18n="home.blog.tabs.hospital">病院検索</span>
  </div>
  <div class="baibaosuckhoe">
    <div class="skbox1 skbox">
      <img src="/img/g1.avif" alt="" class="skbox-pic" />
      <span class="skbox-tt" data-i18n="home.blog.label_healthcare">ヘルスケア</span>
      <span class="skbox-td1" data-i18n="home.blog.articles.tamiflu_title">インフルエンザ治療薬タミフルの自宅療法について</span>
      <span class="skbox-td1" data-i18n="home.blog.articles.tamiflu_desc">インフルエンザA型は冬に流行する感染症です。多くの人がタミフルを購入すべきか悩んでいますが...</span>
    </div>
    
    <div class="skbox2 skbox">
      <img src="/img/g2.avif" alt="" class="skbox-pic" />
      <div class="container-skbox">
        <span class="skbox-tt" data-i18n="home.blog.label_healthcare">ヘルスケア</span>
        <span class="skbox-td1" data-i18n="home.blog.articles.risk_title">日本におけるインフルエンザの致死リスクについて</span>
        <span class="skbox-td1" data-i18n="home.blog.articles.risk_desc">近年、インフルエンザウイルスの感染者数は増加傾向にあり...</span>
      </div>
    </div>
    
    <div class="skbox3 skbox">
      <img src="/img/g3.avif" alt="" class="skbox-pic" />
      <div class="container-skbox">
        <span class="skbox-tt" data-i18n="home.blog.label_healthcare">ヘルスケア</span>
        <span class="skbox-td1" data-i18n="home.blog.articles.risk_title">日本におけるインフルエンザの致死リスクについて</span>
        <span class="skbox-td1" data-i18n="home.blog.articles.risk_desc">近年、インフルエンザウイルスの感染者数は増加傾向にあり...</span>
      </div>
    </div>

    <div class="skbox4 skbox">
      <img src="/img/g4.avif" alt="" class="skbox-pic" />
      <div class="container-skbox">
        <span class="skbox-tt" data-i18n="home.blog.label_healthcare">ヘルスケア</span>
        <span class="skbox-td1" data-i18n="home.blog.articles.risk_title">日本におけるインフルエンザの致死リスクについて</span>
        <span class="skbox-td1" data-i18n="home.blog.articles.risk_desc">近年、インフルエンザウイルスの感染者数は増加傾向にあり...</span>
      </div>
    </div>

    <div class="skbox5 skbox">
      <img src="/img/g5.avif" alt="" class="skbox-pic" />
      <div class="container-skbox">
        <span class="skbox-tt" data-i18n="home.blog.label_healthcare">ヘルスケア</span>
        <span class="skbox-td1" data-i18n="home.blog.articles.risk_title">日本におけるインフルエンザの致死リスクについて</span>
        <span class="skbox-td1" data-i18n="home.blog.articles.risk_desc">近年、インフルエンザウイルスの感染者数は増加傾向にあり...</span>
      </div>
    </div>

    <div class="skbox6 skbox">
      <img src="/img/g6.avif" alt="" class="skbox-pic" />
      <div class="container-skbox">
        <span class="skbox-tt" data-i18n="home.blog.label_healthcare">ヘルスケア</span>
        <span class="skbox-td1" data-i18n="home.blog.articles.risk_title">日本におけるインフルエンザの致死リスクについて</span>
        <span class="skbox-td1" data-i18n="home.blog.articles.risk_desc">近年、インフルエンザウイルスの感染者数は増加傾向にあり...</span>
      </div>
    </div>

    <div class="skbox7 skbox">
      <img src="/img/g7.avif" alt="" class="skbox-pic" />
      <div class="container-skbox">
        <span class="skbox-tt" data-i18n="home.blog.label_healthcare">ヘルスケア</span>
        <span class="skbox-td1" data-i18n="home.blog.articles.risk_title">日本におけるインフルエンザの致死リスクについて</span>
        <span class="skbox-td1" data-i18n="home.blog.articles.risk_desc">近年、インフルエンザウイルスの感染者数は増加傾向にあり...</span>
      </div>
    </div>
  </div>
</section>

<section class="gioithieu">
  <div class="container-gioithieu">
    <h1 data-i18n="home.about.title">ベトナムトップクラスの信頼できる薬局チェーン</h1>
    
    <span class="gioithieu-td" data-i18n="home.about.p1">12年以上の実績を持ち...</span>
    
    <span class="gioithieu-td" data-i18n="home.about.t2">正規品保証・適正価格</span>
    <span class="gioithieu-nd" data-i18n="home.about.p2">Pharmacityは、<strong>糖尿病</strong>...</span>
    
    <span class="gioithieu-td" data-i18n="home.about.t3">専門薬剤師による丁寧な相談</span>
    <span class="gioithieu-nd" data-i18n="home.about.p3">Pharmacityの薬剤師チームは...</span>
    
    <span class="gioithieu-td" data-i18n="home.about.t4">便利なショッピング・迅速な配送</span>
    <span class="gioithieu-nd" data-i18n="home.about.p4">お客様の多様なニーズを理解し...</span>
    
    <span class="gioithieu-td" data-i18n="home.about.t5">会員様限定の特典</span>
    <span class="gioithieu-nd" data-i18n="home.about.p5">Pharmacityは魅力的な「P-Member」...</span>
    
    <span class="gioithieu-td" data-i18n="home.about.t6">Pharmacityを選ぶことは、あなたと家族の健康のための安心を選ぶことです！</span>
  </div>
</section>

<section class="tieuchuan">
  <div class="tieuchuan-container">
    <div class="tieuchuan-box">
      <img src="/img/icontieuchuan1.png" alt="">
      <div class="tieuchuan-box-2">
        <div data-i18n="home.features.express">お急ぎ便</div>
        <div data-i18n="home.features.express_sub">ご自宅配送または店舗受取</div>
      </div>
    </div>
    <div class="tieuchuan-box">
      <img src="/img/icontieuchuan2.png" alt="">
      <div class="tieuchuan-box-2">
        <div data-i18n="home.features.variety">豊富な品揃え</div>
        <div data-i18n="home.features.variety_sub">品質保証・丁寧な対応</div>
      </div>
    </div>
    <div class="tieuchuan-box">
      <img src="/img/icontieuchuan3.png" alt="">
      <div class="tieuchuan-box-2">
        <div data-i18n="home.features.freeship">全品送料無料</div>
        <div data-i18n="home.features.freeship_sub">全国どこでも配送</div>
      </div>
    </div>
    <div class="tieuchuan-box">
      <img src="/img/icontieuchuan4.png" alt="">
      <div class="tieuchuan-box-2">
        <div data-i18n="home.features.nearby">お近くの店舗</div>
        <div data-i18n="home.features.nearby_sub">店舗を検索する</div>
      </div>
    </div>
  </div>
</section>

<!-- Nút Chat -->
<div class="chat-widget">
  <div class="chat-button" id="chatButton">
    <i class="fa-solid fa-comments"></i>
    <span class="chat-badge">1</span>
  </div>
  
  <!-- Khung Chat -->
  <div class="chat-box" id="chatBox">
    <div class="chat-header">
      <div class="chat-header-info">
        <img src="/img/logo.png" alt="Support" class="chat-avatar">
        <div>
          <h4>Hỗ trợ khách hàng</h4>
          <span class="chat-status">Online</span>
        </div>
      </div>
      <i class="fa-solid fa-xmark chat-close" id="chatClose"></i>
    </div>
    
    <div class="chat-body" id="chatBody">
      <div class="chat-message bot-message">
        <div class="message-content">
          <p>Xin chào! 👋</p>
          <p>Pharmacie có thể giúp gì cho bạn?</p>
        </div>
        <span class="message-time">10:30</span>
      </div>
    </div>
    
    <div class="chat-footer">
      <input type="text" id="chatInput" placeholder="Nhập tin nhắn..." />
      <button id="chatSend">
        <i class="fa-solid fa-paper-plane"></i>
      </button>
    </div>
  </div>
</div>
<div class="mauxanhtieuchuan"></div>
</div>
<script src="/js/home.js"></script>
<script src="/js/chondonhang.js"></script>