<div class="datthanhcong">
          <div class="datthanhcong-container">
            <i class="fa-solid fa-check checker"></i>
            <div >Sản phẩm đã được thêm vào Giỏ hàng.</div>
          </div>
</div>
      <section class="menu">
        <div class="ad">
          <div class="ad1">
            <div class="ad1-first">
              <div class="ad1-first-p">
                <img src="/img/ad1.avif" alt="" />
                <img src="/img/ad2.avif" alt="" />
                <img src="/img/ad3.webp" alt="" />
                <img src="/img/ad4.avif" alt="" />
                <img src="/img/ad5.avif" alt="" />
                <img src="/img/ad6.avif" alt="" />
                <img src="/img/ad7.avif" alt="" />
                <img src="/img/ad8.webp" alt="" />
                <img src="/img/ad9.avif" alt="" />
              </div>
            </div>
            <div class="cham">
              <div class="cham-trang active"></div>
              <div class="cham-trang"></div>
              <div class="cham-trang"></div>
              <div class="cham-trang"></div>
              <div class="cham-trang"></div>
              <div class="cham-trang"></div>
              <div class="cham-trang"></div>
              <div class="cham-trang"></div>
              <div class="cham-trang"></div>
            </div>
          </div>
          <i class="fa-solid fa-chevron-up btn-left"></i>
          <i class="fa-solid fa-chevron-up btn-right"></i>
          <div class="ad2">
            <div class="ad2-first"><img src="/img/ad2-1.avif" alt="" /></div>
            <div class="ad2-last"><img src="/img/ad2-2.avif" alt="" /></div>
          </div>
        </div>
        <div class="menu-option">
          <span class="menu-option-box"
            ><img src="/img/ad-icon1.avif" alt="" class="option-box" />
            <span> Tư vấn thuốc </span>
          </span>
          <span class="menu-option-box"
            ><img src="/img/ad-icon2.avif" alt="" class="option-box" />
            <span> Đặt thuốc theo đơn </span>
          </span>
          <span class="menu-option-box"
            ><img src="/img/ad-icon3.avif" alt="" class="option-box" />
            <span> Liên hệ bác sĩ </span>
          </span>
          <span class="menu-option-box"
            ><img src="/img/ad-icon4.avif" alt="" class="option-box" />
            <span> Chi tiêu sức khoẻ</span>
          </span>
          <span class="menu-option-box"
            ><img src="/img/ad-icon5.avif" alt="" class="option-box" />
            <span> Deal hot tháng 12 </span>
          </span>
          <span class="menu-option-box"
            ><img src="/img/ad-icon6.avif" alt="" class="option-box" />
            <span> Lịch sử P-Xu Vàng </span>
          </span>
          <span class="menu-option-box"
            ><img src="/img/Booking.gif" alt="" class="option-box" />
            <span> Đặt lịch khám </span>
          </span>
          <span class="menu-option-box"
            ><img src="/img/ad-icon7.avif" alt="" class="option-box" />
            <span> Dùng P-Xu Vàng </span>
          </span>
          <span class="menu-option-box"
            ><img src="/img/ad-icon8.avif" alt="" class="option-box" />
            <span> Bệnh Cúm mùa </span>
          </span>
          <span class="menu-option-box"
            ><img src="/img/ad-icon9.avif" alt="" class="option-box" />
            <span> Hồ sơ sức khoẻ </span>
          </span>
          <span class="menu-option-box"
            ><img src="/img/ad-icon10.avif" alt="" class="option-box" />
            <span> Kiểm tra sức khoẻ </span>
          </span>
          <span class="menu-option-box"
            ><img src="/img/ad-icon11.avif" alt="" class="option-box" />
            <span> Mã giảm giá riêng </span>
          </span>
          <span class="menu-option-box"
            ><img src="/img/ad-icon12.avif" alt="" class="option-box" />
            <span> Hệ thống nhà thuốc</span>
          </span>
          <span class="menu-option-box"
            ><img src="/img/ad-icon13.avif" alt="" class="option-box" />
            <span> Doanh Nghiệp </span>
          </span>
          <span class="menu-option-box"
            ><img src="/img/ad-icon14.avif" alt="" class="option-box" />
            <span> Hồ sơ gia đình </span>
          </span>
        </div>
      </section>
      <section class="sandeal" >
        <div class="sandeal-time" data-aos="fade-right">
          <img src="/img/SanDeal.avif" alt="" />
          <div class="sandeal-time-timegg">
            <div class="time"></div>
            <span>:</span>
            <div class="time"></div>
            <span>:</span>
            <div class="time"></div>
          </div>
        </div>
        <div class="sandeal-menu" >
          <div class="sandeal-menu__thanhchon">
            {{#each deal1}}
                <div class="buy-box">
                    <img src="/img/{{this.hinhanh}}" alt="Ảnh sản phẩm" />
                    <span class="sandeal-box-tieude">{{this.tensp}}</span>
                    {{#if (equal this.giamgia 0)}}
                    <span class="sandeal-box-giamgia"><s></s></span>
                    {{else}}
                    <span class="sandeal-box-giamgia"><s>{{formatNumber this.giagoc}} ₫</s></span>
                    {{/if}}
                    <span class="sandeal-box-gia">{{formatNumber this.giaban}} ₫/{{this.donvi}}</span>
                    <div class="sandeal-box-like">
                    <i class="fa-solid fa-heart"></i>
                    <span class="sandeal-box-like-like">15.9k |</span>
                    <span class="sandeal-box-like-bought">Đã Bán {{this.soluongdaban}}</span>
                    </div>
                    {{#if (lonhon this.soluongdaban 500)}}
                    <div class="banchay">Đang bán chạy</div>
                    {{else}}
                    <div class="banchay banchaytrang"></div>
                    {{/if}}
                    <button class="sandeal-box-buy">Chọn sản phẩm</button>
                     <input type="hidden" class="boxlayid" value="{{this._id}}">
                </div>
            {{/each}}
          </div>
        </div>
        <i class="fa-solid fa-chevron-up sandeal-left"></i>
        <i class="fa-solid fa-chevron-up sandeal-right"></i>
      </section>
      <div class="muahang">
        <div class="muahang-nth1">
          <h1>Chọn sản phẩm</h1>
          <i class="fa-solid fa-circle-xmark"></i>
        </div>
        <div class="muahang-container">
          <img src="/img/siro.webp" alt="">
          <div class="muahang-right">
            <h1 >Miễn phí vận chuyển cho mọi đơn hàng 0đ</h1>
            <div class="muahang-tieude"></div>
            <div class="muahang-giamgia"></div>
            <div class="muahang-gia"></div>
            <div>Tích lũy từ 1.200 P-Xu vàng</div>
            <div ></div>
            <div >Số lượng</div>
            <div >
              <i class="fa-solid fa-minus trumuahang"></i>
              <div class="soluongmuahang">1</div>
             <i class="fa-solid fa-plus congmuahang"></i>
            </div>
            <div>
              <button class="btnmuahang">Mua hàng</button>
              <button class="themvaogio">Thêm vào giỏ hàng</button>
              <input type="hidden" class="boxlayid1">
            </div>
          </div>
        </div>
      </div>
      <div class="hotdeal" data-aos="fade-right" >
        <h1>Ngàn Deal Hot Tặng Nàng</h1>
        <div class="hotdeal-menu">
          <div class="hotdeal-thanhchon version1">
            {{#each deal2}}
                <div class="buy-box">
                    <img src="/img/{{this.hinhanh}}" alt="Ảnh sản phẩm" />
                    <span class="sandeal-box-tieude">{{this.tensp}}</span>
                    {{#if (equal this.giamgia 0)}}
                    <span class="sandeal-box-giamgia"><s></s></span>
                    {{else}}
                    <span class="sandeal-box-giamgia"><s>{{formatNumber this.giagoc}} ₫</s></span>
                    {{/if}}
                    <span class="sandeal-box-gia">{{formatNumber this.giaban}} ₫/{{this.donvi}}</span>
                    <div class="sandeal-box-like">
                    <i class="fa-solid fa-heart"></i>
                    <span class="sandeal-box-like-like">15.9k |</span>
                    <span class="sandeal-box-like-bought">Đã Bán {{this.soluongdaban}}</span>
                    </div>
                    {{#if (lonhon this.soluongdaban 500)}}
                    <div class="banchay">Đang bán chạy</div>
                    {{else}}
                    <div class=" banchaytrang"></div>
                    {{/if}}
                    <button class="sandeal-box-buy">Chọn sản phẩm</button>
                    <input type="hidden" class="boxlayid" value="{{this._id}}">
                </div>
            {{/each}}
        </div>
          <i class="fa-solid fa-chevron-up hotdeal-left"></i>
          <i class="fa-solid fa-chevron-up hotdeal-right"></i>
        </div>
      </div>
      <div class="hotdeal" data-aos="fade-right">
        <h1>Top bán chạy toàn quốc</h1>
        <div class="hotdeal-menu">
          <div class="hotdeal-thanhchon version1">
            {{#each deal3}}
                <div class="buy-box">
                    <img src="/img/{{this.hinhanh}}" alt="Ảnh sản phẩm" />
                    <span class="sandeal-box-tieude">{{this.tensp}}</span>
                    {{#if (equal this.giamgia 0)}}
                    <span class="sandeal-box-giamgia"><s></s></span>
                    {{else}}
                    <span class="sandeal-box-giamgia"><s>{{formatNumber this.giagoc}} ₫</s></span>
                    {{/if}}
                    <span class="sandeal-box-gia">{{formatNumber this.giaban}} ₫/{{this.donvi}}</span>
                    <div class="sandeal-box-like">
                    <i class="fa-solid fa-heart"></i>
                    <span class="sandeal-box-like-like">15.9k |</span>
                    <span class="sandeal-box-like-bought">Đã Bán {{this.soluongdaban}}</span>
                    </div>
                    {{#if (lonhon this.soluongdaban 500)}}
                    <div class="banchay">Đang bán chạy</div>
                    {{else}}
                    <div class="banchay banchaytrang"></div>
                    {{/if}}
                    <button class="sandeal-box-buy">Chọn sản phẩm</button>
                    <input type="hidden" class="boxlayid" value="{{this._id}}">
                </div>
            {{/each}}
          </div>
          <i class="fa-solid fa-chevron-up hotdeal-left"></i>
        <i class="fa-solid fa-chevron-up hotdeal-right"></i>
        </div>
        
      </div>
      <div class="hotdeal" data-aos="fade-right">
        <h1>Thương hiệu Nhật Bản</h1>
        <div class="hotdeal-menu">
          <div class="hotdeal-thanhchon version1">
            {{#each deal4}}
                <div class="buy-box">
                    <img src="/img/{{this.hinhanh}}" alt="Ảnh sản phẩm" />
                    <span class="sandeal-box-tieude">{{this.tensp}}</span>
                    {{#if (equal this.giamgia 0)}}
                    <span class="sandeal-box-giamgia"><s></s></span>
                    {{else}}
                    <span class="sandeal-box-giamgia"><s>{{formatNumber this.giagoc}} ₫</s></span>
                    {{/if}}
                    <span class="sandeal-box-gia">{{formatNumber this.giaban}} ₫/{{this.donvi}}</span>
                    <div class="sandeal-box-like">
                    <i class="fa-solid fa-heart"></i>
                    <span class="sandeal-box-like-like">15.9k |</span>
                    <span class="sandeal-box-like-bought">Đã Bán {{this.soluongdaban}}</span>
                    </div>
                    {{#if (lonhon this.soluongdaban 500)}}
                    <div class="banchay">Đang bán chạy</div>
                    {{else}}
                    <div class="banchay banchaytrang"></div>
                    {{/if}}
                    <button class="sandeal-box-buy">Chọn sản phẩm</button>
                    <input type="hidden" class="boxlayid" value="{{this._id}}">
                </div>
            {{/each}}
             </div>
            <i class="fa-solid fa-chevron-up hotdeal-left"></i>
             <i class="fa-solid fa-chevron-up hotdeal-right"></i>
        </div>
      </div>
      <section class="thuonghieu">
        <h1>Thương Hiệu Nổi Bật</h1>
        <div class="thuonghieu-thanhchon">
          <img src="/img/thuonghieu1.png" alt="" class="thuonghieu-box" data-aos="zoom-in"/>
          <img src="/img/thuonghieu2.webp" alt="" class="thuonghieu-box" data-aos="zoom-in"/>
          <img src="/img/thuonghieu3.png" alt="" class="thuonghieu-box" data-aos="zoom-in" />
          <img src="/img/thuonghieu4.png" alt="" class="thuonghieu-box" data-aos="zoom-in"/>
        </div>
      </section>
      <section class="spbanchay">
        <h1>Thương Hiệu Bán Chạy</h1>
        <div class="banchay-thanhchon">
          <img
            src="/img/thuonghieunone.webp"
            alt=""
            class="banchay-box__pic banchay-box1"
            data-aos="fade-up"
       data-aos-anchor-placement="top-center"
          />
          <img
            src="/img/thuonghieusw.png"
            alt=""
            class="banchay-box__pic banchay-box2"
            data-aos="fade-up"
       data-aos-anchor-placement="top-center"
          />
          <img
            src="/img/thuonghieuko.webp"
            alt=""
            class="banchay-box__pic banchay-box2"
            data-aos="fade-up"
       data-aos-anchor-placement="top-center"
          />
          <img
            src="/img/thuonghieugood.webp"
            alt=""
            class="banchay-box__pic banchay-box2"
            data-aos="fade-up"
       data-aos-anchor-placement="top-center"
          />
          <img
            src="/img/thuonghieucoo.webp"
            alt=""
            class="banchay-box__pic banchay-box2"
            data-aos="fade-up"
       data-aos-anchor-placement="top-center"
          />
        </div>
      </section>
      <section class="gocsuckhoe">
        <h1>Góc Sức Khoẻ</h1>
        <div class="thanchonsuckhoe">
          <span>Bài viết nổi bật</span>
          <span>Bệnh ung thư</span>
          <span>Sức khoẻ trẻ em</span>
          <span>Phục hồi sau khi sinh</span>
          <span>Chăm sóc thai kì</span>
          <span>Chuẩn bị mang thai</span>
          <span>Bệnh viện</span>
        </div>
        <div class="baibaosuckhoe">
          <div class="skbox1 skbox">
            <img src="/img/g1.avif" alt="" class="skbox-pic" />
            <span class="skbox-tt">Sống Khoẻ</span>
            <span class="skbox-td1"
              >Có nên mua thuốc Tamiflu để điều trị cúm A tại nhà không?</span
            >
            <span class="skbox-td1"
              >Cúm A là một bệnh truyền nhiễm phổ biến, đặc biệt trong mùa lạnh.
              Nhiều người tự hỏi liệu có nên mua thuốc...</span
            >
          </div>
          <div class="skbox2 skbox">
            <img src="/img/g2.avif" alt="" class="skbox-pic" />
            <div class="container-skbox">
              <span class="skbox-tt">Sống Khoẻ</span>
              <span class="skbox-td1"
                >Cúm mùa tại Nhật do virus Influenza có nguy cơ gây tử vong</span
              >
              <span class="skbox-td1"
                >Trong những năm gần đây số ca nhiễm virus Influenza đang
                gia...</span
              >
            </div>
          </div>
          <div class="skbox3 skbox">
            <img src="/img/g3.avif" alt="" class="skbox-pic" />
            <div class="container-skbox">
              <span class="skbox-tt">Sống Khoẻ</span>
              <span class="skbox-td1"
                >Cúm mùa tại Nhật do virus Influenza có nguy cơ gây tử vong</span
              >
              <span class="skbox-td1"
                >Trong những năm gần đây số ca nhiễm virus Influenza đang
                gia...</span
              >
            </div>
          </div>
          <div class="skbox4 skbox">
            <img src="/img/g4.avif" alt="" class="skbox-pic" />
            <div class="container-skbox">
              <span class="skbox-tt">Sống Khoẻ</span>
              <span class="skbox-td1"
                >Cúm mùa tại Nhật do virus Influenza có nguy cơ gây tử vong</span
              >
              <span class="skbox-td1"
                >Trong những năm gần đây số ca nhiễm virus Influenza đang
                gia...</span
              >
            </div>
          </div>
          <div class="skbox5 skbox">
            <img src="/img/g5.avif" alt="" class="skbox-pic" />
            <div class="container-skbox">
              <span class="skbox-tt">Sống Khoẻ</span>
              <span class="skbox-td1"
                >Cúm mùa tại Nhật do virus Influenza có nguy cơ gây tử vong</span
              >
              <span class="skbox-td1"
                >Trong những năm gần đây số ca nhiễm virus Influenza đang
                gia...</span
              >
            </div>
          </div>
          <div class="skbox6 skbox">
            <img src="/img/g6.avif" alt="" class="skbox-pic" />
            <div class="container-skbox">
              <span class="skbox-tt">Sống Khoẻ</span>
              <span class="skbox-td1"
                >Cúm mùa tại Nhật do virus Influenza có nguy cơ gây tử vong</span
              >
              <span class="skbox-td1"
                >Trong những năm gần đây số ca nhiễm virus Influenza đang
                gia...</span
              >
            </div>
          </div>
          <div class="skbox7 skbox">
            <img src="/img/g7.avif" alt="" class="skbox-pic" />
            <div class="container-skbox">
              <span class="skbox-tt">Sống Khoẻ</span>
              <span class="skbox-td1"
                >Cúm mùa tại Nhật do virus Influenza có nguy cơ gây tử vong</span
              >
              <span class="skbox-td1"
                >Trong những năm gần đây số ca nhiễm virus Influenza đang
                gia...</span
              >
            </div>
          </div>
        </div>
      </section>
      <section class="gioithieu">
        <div class="container-gioithieu">
          <h1>Chuỗi nhà thuốc uy tín hàng đầu Việt Nam</h1>
          <span class="gioithieu-td"
            >Với hơn 12 năm hoạt động, Pharmacity tự hào là người bạn đồng hành
            tin cậy của hàng triệu người dân Việt Nam trên hành trình nâng cao
            chất lượng sức khỏe. Hệ thống gần 1000 nhà thuốc đạt chuẩn GPP trên
            toàn quốc trải dài 40 tỉnh thành, cùng đội ngũ gần 5000 Dược sĩ,
            Pharmacity mang đến dịch vụ chăm sóc sức khỏe tận tâm và trải nghiệm
            mua sắm tiện lợi cho mọi khách hàng.</span
          >
          <span class="gioithieu-td">Sản phẩm chính hãng, giá tốt </span>
          <span class="gioithieu-nd">
            Pharmacity cam kết cung cấp sản phẩm chính hãng, đa dạng từ thuốc cho
            các nhóm bệnh:
            <strong>Tiểu Đường, Huyết Áp, Mỡ Máu, Tiêu Hóa, Hô Hấp,</strong>… đến
            thực phẩm chức năng, sản phẩm chăm sóc sức khỏe, sắc đẹp, thiết bị y
            tế thuộc các thương hiệu hàng đầu thế giới như:
            <strong
              >Abbott, GSK, Sanofi, Astrazeneca, Pfizer, Mega Lifesciences,
              Goodlife, L’oreal, Durex,</strong
            >… và các thương hiệu uy tín tại Việt Nam như Dược Hậu Giang, Nam Hà,…
            Bên cạnh đó, chúng tôi luôn chú trọng bảo quản sản phẩm trong điều
            kiện tốt nhất, đảm bảo chất lượng đến tay người tiêu dùng.</span
          >
          <span class="gioithieu-td">Dược sĩ tận tâm, tư vấn chuyên nghiệp </span>
          <span class="gioithieu-nd"
            >Đội ngũ Dược sĩ Pharmacity được đào tạo bài bản, có chuyên môn cao và
            giàu kinh nghiệm. Luôn đặt lợi ích khách hàng lên hàng đầu, sẵn sàng
            tư vấn, giải đáp thắc mắc và hướng dẫn sử dụng sản phẩm hiệu quả, an
            toàn.
          </span>
          <span class="gioithieu-td"
            >Mua sắm tiện lợi, giao hàng nhanh chóng
          </span>
          <span class="gioithieu-nd"
            >Thấu hiểu nhu cầu đa dạng của khách hàng, Pharmacity mang đến hệ
            thống mua sắm đa kênh vô cùng tiện lợi: <br />
            Mua trực tiếp tại nhà thuốc: Hệ thống gần 1000 nhà thuốc Pharmacity
            trải dài 40 tỉnh thành. </br> Mua hàng trực tuyến: Truy cập trang
            <a href="index.html">https://www.pharmacity.vn/</a> hoặc ứng dụng
            Pharmacity. <br> Giao hàng siêu tốc: Giao hàng nhanh chóng trong vòng 2 giờ
            tại các thành phố lớn. Hợp tác với đối tác lớn, uy tín: Grab, Shopee,
            Lazada, Tiki…
          </span>
          <span class="gioithieu-td"
            >Chính sách ưu đãi dành cho khách hàng thân thiết
          </span>
          <span class="gioithieu-nd"
            >Pharmacity triển khai chương trình P-Thành Viên hấp dẫn. Mỗi giao
            dịch mua sắm, khách hàng đều được tích điểm và có thể sử dụng điểm để
            trừ tiền cho các lần mua sau. Ngoài ra, Pharmacity luôn có các chương
            trình khuyến mãi, ưu đãi dành riêng cho khách hàng thân thiết.
          </span>
          <span class="gioithieu-td"
            >Lựa chọn Pharmacity, lựa chọn an tâm cho sức khỏe bản thân và gia
            đình!
          </span>
        </div>
      </section>
      <section class="tieuchuan">
        <div class="tieuchuan-container">
        <div class="tieuchuan-box">
          <img src="/img/icontieuchuan1.png" alt="">
          <div class="tieuchuan-box-2">
            <div>Giao hàng siêu tốc</div>
            <div>Giao tận nhà hoặc nhận tại nhà thuốc</div>
          </div>
        </div>
        <div class="tieuchuan-box">
          <img src="/img/icontieuchuan2.png" alt="">
          <div class="tieuchuan-box-2">
            <div>Đủ thuốc chuẩn</div>
            <div>Thuốc chất lượng, phục vụ tận tình</div>
          </div>
        </div>
        <div class="tieuchuan-box">
          <img src="/img/icontieuchuan3.png" alt="">
          <div class="tieuchuan-box-2">
            <div>Miễn phí vận chuyển</div>
            <div>Cho mọi đơn hàng toàn quốc</div>
          </div>
        </div>
        <div class="tieuchuan-box">
          <img src="/img/icontieuchuan4.png" alt="">
          <div class="tieuchuan-box-2">
            <div>Nhà thuốc gần bạn</div>
            <div>Dễ dàng tìm nhà thuốc gần bạn</div>
          </div>
        </div>
      </div>
    </section>
    <div class="mauxanhtieuchuan"></div>
</div>
<script src="/js/home.js"></script>
<script src="/js/chondonhang.js"></script>