{{#if message}}
  <div class="datthanhcong active">
    <div class="datthanhcong-container">
      <i class="fa-solid fa-check checker"></i>
      <div>{{message}}</div>
    </div>
  </div>
  <script>
    const datthanhcong = document.querySelector(".datthanhcong");
    setTimeout(() => { datthanhcong.classList.remove("active"); }, 1500);
  </script>
{{/if}}
<div class="container-user">
  <div class="hienthi-user">
    <div class="bangchon-user">
      <div class="bangchon-user-top">
        <div class="bangchon-user-ten">
          <img src="/img/{{user.hinhanh}}" alt="" />
          <h1>{{user.hoten}}</h1>
        </div>
        <img src="/img/thevang.png" alt="" />
      </div>
      <div class="bangchon-user-bot">
        <a href="/user/thongtin" class="thanhchon-user">
          <i class="fa-solid fa-user"></i>
          <div>個人情報</div>
        </a>
        <a href="/user/diachinhanhang" class="thanhchon-user">
          <i class="fa-solid fa-location-dot"></i>
          <div>配送先住所</div>
        </a>
        <a href="/user/lichsudonhang" class="thanhchon-user">
          <i class="fa-solid fa-notes-medical"></i>
          <div>注文履歴</div>
        </a>
      </div>
    </div>
    <div class="ctnthongtin-user">
      <h1 class="title-thongtincanhan">個人情報</h1>
      <div class="thongtin-user">
        <form method="post" action="/user/capnhatthongtin" class="container-thongtinuser" enctype="multipart/form-data">
          <div class="anhdaidien">プロフィール画像</div>
          <div class="anhdaidien-cc">
            <img class="anhdaidienmoi" id="preview" src="/img/{{user.hinhanh}}"/>
            <input
             class="file"
             id="hinhanh"
             accept="image/*"
             type="file"
             name="hinhanh"
             style="display: none;"
            />
            <div class="daidienoi">
             <label for="hinhanh" class="btn-capnhatanhmoi">新しい画像を更新</label>
              <div>最大ファイルサイズ：5 MB</div>
              <div>形式：.JPEG、.PNG</div>
            </div>
          </div>
          <div class="dienthongtin">
            <div class="container-dienthongtin">
              <label for="hoten">氏名</label>
              <input
                type="text"
                name="hoten"
                id="hoten"
                placeholder="氏名"
                value="{{user.hoten}}"
              />
              <label for="ngaysinh">生年月日</label>
              <input
                type="date"
                name="ngaysinh"
                id="ngaysinh"
                value="{{user.ngaysinh}}"
              />
              <label for="gioitinh">性別</label>
              <select class="gioitinhchon" name="gioitinh" id="gioitinh">
                <option value="" disabled selected>
                  -- 性別を選択 --
                </option>
                <option value="nam" {{#if (equal user.gioitinh "nam")}}selected{{/if}}>男性</option>
                 <option value="nu" {{#if (equal user.gioitinh "nu")}}selected{{/if}}>女性</option>
                <option value="khac" {{#if (equal user.gioitinh "khac")}}selected{{/if}}>その他</option>
              </select>
            </div>
            <div class="thongtinphu">
              <div>電話番号</div>
              <div>{{user.sdt}}</div>
              <div>
                <div>
                  <div>メールアドレス</div>
                  <div>{{user.email}}</div>
                </div>
                <a href="/user/capnhatemail">更新</a>
              </div>
              <div>
                <div>パスワード</div>
                <a href="/user/doimatkhau">パスワード変更</a>
              </div>
            </div>
          </div>
          <div class="chuabtnthaydoi">
            <button type="submit" class="btn-thaydoi">変更を保存</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="mauxanhtieuchuan"></div>
<script src="/js/thongtin.js"></script>