<section class="thanhtoandonhang">
  <div class="thanhtoangiohang-container">
    <div>
      <div class="thanhtoan-sanpham">
        <div>お支払い</div>
        <div class="thanhtoan-all">
          {{#if giohang}}
            {{#each user.giohang}}
              <div class="sanpham-all-box">
                <div class="box-sanphamthem-thanhtoan">
                  <img
                    class="box-sanphamthem-img"
                    src="/img/{{this.hinhanh}}"
                  />
                  <div class="box-sanphamthem-motathanhtoan">
                    {{this.tensp}}
                  </div>
                  <div class="soluong-thanhtoan">x{{this.soluong}}</div>
                  <div class="thanhtien-thanhtoan">
                    {{formatNumber this.giaban}}
                    ₫</div>
                </div>
                <div class="gachchan-to"></div>
              </div>
            {{/each}}
          {{else}}
            <div class="sanpham-all-box">
              <div class="box-sanphamthem-thanhtoan">
                <img class="box-sanphamthem-img" src="/img/{{good.hinhanh}}" />
                <div class="box-sanphamthem-motathanhtoan">
                  {{good.tensp}}
                </div>
                <div class="soluong-thanhtoan">x{{soluong}}</div>
                <div class="thanhtien-thanhtoan">
                  {{formatNumber good.giaban}}
                  ₫</div>
              </div>
              <div class="gachchan-to"></div>
            </div>
          {{/if}}
        </div>
        <form class="thanhtoan-ghichu">
          <label for="ghichu">備考</label>
          <input type="text" id="ghichu" placeholder="備考を入力してください" />
        </form>
      </div>
      <div class="hinhthucnhanhang-thanhtoan">
        <h1 class="hinhthucnhanhang">受取方法</h1>
        <div style="width: 7rem;">宅配</div>
        <div>
          <div>受取人情報</div>
          <div class="thaydoi">変更</div>
        </div>
        <div>
          <div class="chuadiachi thanhtoan-diachi">
            {{#each user.diachi}}
              {{#if this.duocchon}}
                <div>
                  <div>
                    <span class="chuaten--diachi">{{this.hoten}}</span>
                    <span class="bac1">|</span>
                    {{this.sdt}}
                  </div>
                  <div>
                    {{this.sonha}},
                    {{this.phuongxa}},
                    {{this.quanhuyen}},
                    {{this.tinhthanh}}
                  </div>
                  <div>
                    <div class="dactrungdiachi-thanhtoan">{{this.loai}}</div>
                    {{#if this.macdinh}}
                      <div
                        class="dactrungmacdinh-thanhtoan"
                        style="width: 7.6rem;"
                      >デフォルト</div>
                    {{/if}}
                  </div>
                </div>
              {{/if}}
            {{/each}}
            <div>
              <div class="chuasttdiachi">{{@index}}</div>
            </div>
          </div>
        </div>
        <div class="gach-thanhtoan">.</div>
        <div class="donvivanchuyen-thanhtoan">
          <div>
            <div class="indamthongtin">配送業者</div>
            <div class="indamthongtin">19.000 ₫</div>
          </div>
          <div class="indamthongtin">Viettel Post</div>
          <div>
            配送予定：4〜7日（土日を除く）
          </div>
        </div>
      </div>
      <div class="phuongthucthanhtoan">
        <div>お支払い方法</div>
        <form action="" class="formphuongthuc">
          <div class="boxpt">
            <input type="radio" name="PT" value="COD" id="COD" />
            <label for="COD"><img
                src="/img/CODMOI.png"
                alt=""
                class="ppttimg"
              />
              <div>現金</div></label>
          </div>
          <div class="boxpt">
            <input type="radio" name="PT" value="MOMO" id="MOMO" />
            <label for="MOMO">
              <img src="/img/MOMOMOI.png" alt="" class="ppttimg" />
              <div>Momo</div></label>
          </div>
          <div class="boxpt">
            <input type="radio" name="PT" value="ZALOPAY" id="ZALOPAY" />
            <label for="ZALOPAY">
              <img src="/img/ZALOPAY.png" alt="" class="ppttimg" />
              <div>ZaloPay</div></label>
          </div>
          <div class="boxpt">
            <input type="radio" name="PT" value="THETINDUNG" id="THETINDUNG" />
            <label for="THETINDUNG"><img
                src="/img/THETINDUNG.png"
                alt=""
                class="ppttimg"
              />
              <div>クレジットカード</div></label>
          </div>
          <div class="boxpt">
            <input type="radio" name="PT" value="ATM" id="ATM" />
            <label for="ATM">
              <img src="/img/ATM.png" alt="" class="ppttimg" />
              <div>デビットカード</div></label>
          </div>
          <div class="boxpt">
            <input type="radio" name="PT" value="APPLEPAY" id="APPLEPAY" />
            <label for="APPLEPAY">
              <img src="/img/APPLEPAY.png" alt="" class="ppttimg" />
              <div>Apple Pay</div>
            </label>
          </div>
        </form>
      </div>
    </div>
    <div class="thanhtoan-dungcot">
      <div class="thanhtoan-tongtien">
        <div class="cttt">お支払い詳細</div>
        <div class="thanhtoan-tt">
          <div>小計</div>
          {{#if giohang}}
            <div>{{formatNumber (totalGiagoc user.giohang)}} ₫</div>
          {{else}}
            <div>{{formatNumber (nhan good.giagoc soluong)}} ₫</div>
          {{/if}}
        </div>
        <div class="thanhtoan-tt">
          <div>配送料</div>
          <div>19.000 ₫</div>
        </div>
        <div class="thanhtoan-tt">
          <div>配送料割引</div>
          <div>-19.000 ₫</div>
        </div>
        <div class="thanhtoan-tt">
          <div class="giohang-tongtien__tamtinh-mota">
            商品割引
          </div>
          <div class="giamgiatong">
            {{#if giohang}}
              -{{formatNumber
                (minus (totalGiagoc user.giohang) (totalGiaban user.giohang))
              }}
              ₫
            {{else}}
              -{{formatNumber
                (minus (nhan good.giagoc soluong) (nhan good.giaban soluong))
              }}
              ₫
            {{/if}}
          </div>
        </div>
        {{#unless giohang}}
          <input type="hidden" class="boxlayid" value="{{good._id}}" />
        {{/unless}}
        <div class="gachchan-tt"></div>
        <div class="thanhtoan-tongtien__tongtien">
          <div class="thanhtoan-tongtien__tongtien-mota">
            <div>合計金額</div>
            {{#if (equal giohang true)}}
              <div>{{user.giohang.length}} 商品</div>
            {{else}}
              <div>1 商品</div>
            {{/if}}
          </div>
          <div class="thanhtoan-tongtien__tongtien-tt">
            {{#if (equal giohang true)}}
              {{formatNumber (totalGiaban user.giohang)}}
              ₫
            {{else}}
              {{formatNumber (nhan good.giaban soluong)}}
              ₫
            {{/if}}
          </div>
        </div>
        <form class="thanhtoan-dieukhoan">
          <input
            type="checkbox"
            name=""
            id="dieukhoan"
            class="checkdieukiendathang"
          />
          <label for="dieukhoan">チェックボックスをオンにすることで、
            <a href="">Pharmacityの利用規約</a>に同意したことになります</label>
        </form>
        <div
          class="thanhtoan-tongtien__btn"
          data-giohang="{{giohang}}"
        >注文する</div>
      </div>
    </div>
  </div>
</section>
<div class="doidiachi">
  <div class="container-doidiachi">
    <div>配送先住所</div>
    <form
      class="chuadiachi-hienthi"
      action="/user/doidiachinhanhang"
      method="post"
    >
      {{#each user.diachi}}
        <div class="diachithanhtoan">
          <input
            type="radio"
            value="{{@index}}"
            name="diachi"
            id="{{@index}}"
            class="radio"
          />
          <label for="{{@index}}">
            <div>
              <span class="chuaten--diachi">{{this.hoten}}</span>
              <span class="bac1">|</span>
              {{this.sdt}}
            </div>
            <div>{{this.sonha}},
              {{this.phuongxa}},
              {{this.quanhuyen}},
              {{this.tinhthanh}}</div>
            <div>
              <div class="dactrungdiachi">{{this.loai}}</div>
              {{#if this.macdinh}}
                <div
                  class="dactrungmacdinh-thanhtoan"
                  style="width: 7.6rem;"
                >デフォルト</div>
              {{/if}}
            </div>
          </label>
        </div>
      {{/each}}
      {{#unless giohang}}
        <input type="hidden" name="giohang" value="false" />
        <input type="hidden" name="good_id" value="{{good._id}}" />
        <input type="hidden" name="soluong" value="{{soluong}}" />
      {{/unless}}
    </form>
    <div class="btnthemdiachi">+ 住所追加</div>
    <div class="chua2btn">
      <div class="modori">戻る</div>
      <div class="apuru">適用</div>
    </div>
  </div>
</div>
<div class="container-themdiachi">
  <div class="themdiachi">
    <div class="text-themdiachi">新しい住所</div>
    <div class="themdiachi-box-container">
      <div class="themdiachi-box">
        <form action="/user/themdiachi" method="post" class="formdiachi">
          <label for="hoten">氏名</label>
          <input type="text" name="hoten" placeholder="氏名を入力" id="hoten" />
          <label for="sdt">電話番号</label>
          <input type="text" name="sdt" placeholder="電話番号を入力" id="sdt" />
          <label for="tinhthanh">住所</label>
          <select name="tinhthanh" id="tinhthanh">
            <option value="" class="maubac">--都道府県を選択--</option>
            <option value="Quảng Trị">クアンチ</option>
            <option value="Đà Nẵng">ダナン</option>
            <option value="Huế">フエ</option>
          </select>
          <input type="text" name="quanhuyen" placeholder="市区町村を入力" />
          <input
            type="text"
            id="secon"
            name="phuongxa"
            placeholder="町名を入力"
          />
          <input
            type="text"
            id="ll"
            name="sonha"
            placeholder="番地・建物名を入力"
          />
          <div class="loaidiachi">住所タイプ</div>
          <div class="tuychondiachi">
            <label class="option">
              <input type="radio" name="loai" value="Nhà riêng" required />
              <span>自宅</span>
            </label>
            <label class="option">
              <input type="radio" name="loai" value="Công ty" />
              <span>会社</span>
            </label>
          </div>
          <div class="diachimacdinh">
            <input type="checkbox" name="macdinh" id="" />
            <div>デフォルト住所に設定</div>
          </div>
        </form>
      </div>
    </div>
    <div class="thaotac-diachi">
      <button class="btn-diachi-quaylai">戻る</button>
      <button class="luudiachi">保存</button>
    </div>
  </div>
</div>
<div class="mauxanhtieuchuan"></div>
<script src="/js/temp1.js"></script>